@media screen and (max-width:1024px) {
    //상단 영역
    #header {
        .center {
            .logo {
                line-height: 100px;
                a {
                    img {
                        width: 150px; height: 30px;
                        position: relative; bottom: 4px;
                    }
                }
            }
            .gnb_wrap {
                .gnb {display: none;}
            }
            .right {display: none;}
            .mobile_menu {display: block;}
        }
    }
    //중간 영역
    #container {
        //메인페이지 slide 영역
        .slide_wrap {
            .slide {
                .view {
                    .slide_box {
                        .text_box {font-size: 38px;}
                    }
                }
            }
        }
        //메인페이지 menu_tab 영역
        .menu_tab {
            .center {
                height: 850px;
                flex-wrap: wrap;
                > div {width: 100%;}
                .menu_box {
                    width: 18%; left: 3%; top: 55px;
                    .title { font-size: 50px; padding-bottom: 50px;}
                }
                .center_img_wrap {display: none;}
                .left {height: 510px;}
                .right {
                    height: 750px;
                    .right_box{
                        width: 100%; padding: 20px;
                        .menu_title {padding-left: 20px;}
                        .text {padding-left: 20px;}
                        .menu_img_wrap { 
                            .menu_img {
                                margin: 0 2% 130px;
                                height: 270px;
                            }
                        }
                        .right_bot {
                            .bot_box_wrap {
                                justify-content: center;
                                .bot_box {
                                    width: 20%;
                                    .text {font-size: 15px; padding-left: 0;}
                                }
                            }
                        }
                    } 
                }
            }
        }
        //메인페이지 inner 영역
        .inner {
            margin-top: 570px;
            .inner_mid {
                img { height: 500px;}
            }
        }
        //메인페이지 count 영역
        .count {
            .left {
                width: 90%; margin: 0 auto;
                .count_wrap {
                    padding: 40px 100px;
                    .count_box {
                        .count_view {
                            .count_num {font-size: 80px;}
                        }
                    }
                }
            }
            .right {display: none;}
        }
        //메인페이지 notice 영역
        .notice {
            .center {
                > .left {
                    .title {
                        font-size: 65px;
                        padding: 40px 45px;
                        .text {
                            &:nth-child(2) {padding-left: 106px;}
                        } 
                    }
                }
                .right {
                    .notice_box {
                        .left {
                            padding: 50px 55px;
                            .notice_title {
                                a {
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }
                            }
                        }
                        .hover_img {display: none;}
                    }
                }
            }
        }
        //메인페이지 rolling 영역
        .rolling {
            .rolling_wrap {
                .rolling_img_box {
                    .img_wrap,.clone {
                        .hover_bg {
                            a {
                                margin-top: 50px;
                                .comp_name {
                                    font-size: 22px;
                                    margin-bottom: 30px;
                                }
                                .clothes_name {
                                    font-size: 23px;
                                    line-height: 38px;
                                    margin-bottom: 30px;
                                }
                                .fa-regular {font-size: 50px;}
                            }
                        }
                    }
                }
            }
        }
        //메인페이지 carousel 영역
        .carousel {
            .title {padding: 100px 50px 125px 55px;}
            .center {
                .carousel_wrap {
                    .carousel_box {width: 400%;}
                }
            }
        }
        
    }
}