//상단 영역
#header {
    display: flex; justify-content: center;
    position: relative; z-index: 99;
    background-color: #000;
    box-sizing: border-box;
    .center {
        width: 91%; align-items: center;
        display: flex; justify-content: space-between;
        .logo {
            a {
                img {width: 180px; height: 35px;}
            }
        } 
        .gnb_wrap {
            .sub_menu_board {
                position: absolute; left: 0; top: 100px;
                width: 100%;
                height: 0;
                transition: all 0.5s ease-in-out;
                background-color: #fff;
            } 
            .gnb {
                display: flex;
                margin-left: 90px;
                
                > li {
                    line-height: 100px;
                    position: relative;
                    &:hover {
                        > a {color: #ff8a28;}
                    }
                    > a {
                        color: #fff;
                        width: 230px;
                        display: block;
                        text-align: center;
                        transition: all 0.3s;
                        font-size: 17px;
                        font-weight: 600;
                    }
                    .sub_menu {
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                        position: absolute; left: 0; top: 100px;
                        text-align: center;
                        transition: all 0.5s ease-in-out;
                        li {
                            line-height: 50px;
                            &:nth-child(1) {padding-top: 10px;}
                            a {
                                color: #000;
                                transition: all 0.5s;
                                &:hover {font-weight: bold;}
                            }
                        }
                    }
                }
            }
        }
        .right {
            display: flex; align-items: center;
            > a {
                display: block;
                color: #fff;
                width: 140px;
                line-height: 40px;
                text-align: center;
                border: 2px solid #ff8a28;
                border-radius: 20px;
                &:hover {
                    background-color: #fff;
                    border: 3px solid #ff8a28;
                    color: #000;
                    font-weight: 500;
                }
            }
            .sns {
                display: flex;
                margin-left: 35px;
                li {
                    font-size: 25px;
                    margin: 0 2px;
                    a {
                        i {
                            color: #fff;
                            width: 50px; line-height: 50px;
                            text-align: center;
                            border-radius: 50%;
                            transition: all 0.3s;
                            &:hover {
                                background-color: #fff;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        .mobile_menu {
            display: none; width: 35px; cursor: pointer;
            .bar {
                width: 100%; height: 2px;
                margin: 8px 0;
                background-color: #fff;
                transition: all 0.5s;
            }
        }
        .mobile_menu.close {
            .bar {
                position: relative;
                &:nth-child(1) {transform: rotate(45deg); top: 10px;}
                &:nth-child(2) {transform: translate(50px); opacity: 0;}
                &:nth-child(3) {transform: rotate(-45deg); bottom: 10px;}
            }
        }
        .mobile_board {
            width: 350px; height: 100vh;    
            position: absolute; top: 0; right: -130%;
            background-color: #000;
            transition: all 0.5s;
            .close_btn {
                padding: 30px 0 50px 430px;
                width: 35px;
                position: relative;
                .wrap {
                    height: 20px; cursor: pointer;
                    .bar {
                        width: 100%; height: 2px; margin: 8px 0;
                        background-color: #fff; position: relative;
                        &:nth-child(1) {transform: rotate(45deg); top: 5px;}
                        &:nth-child(2) {transform: rotate(-45deg); bottom: 5px;}
                    }
                }
            }
            .mobile_gnb {
                > li {
                    width: 80%; padding-left: 30px;
                    margin-bottom: 50px;
                    > a {
                        color: #fff; font-size: 22px;
                        i {margin-left: 5px;}
                    }
                    .mobile_sub_menu {
                        height: 0; overflow-y: scroll;
                        transition: all 0.5s;
                        margin-top: 28px;
                        background-color: #fff;
                        li {
                            line-height: 55px;
                            padding-left: 12px;
                            a {
                                color: #000;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .sns {
                display: flex; padding-left: 20px;
                margin-bottom: 40px;
                li {
                    font-size: 25px;
                    margin: 0 2px;
                    a {
                        i {
                            color: #fff;
                            width: 50px; line-height: 50px;
                            text-align: center;
                            border-radius: 50%;
                            transition: all 0.3s;
                            &:hover {
                                background-color: #fff;
                                color: #000;
                            }
                        }
                    }
                }
            }
            > a {
                display: block; margin-left: 30px;
                color: #fff;
                width: 140px;
                line-height: 40px;
                text-align: center;
                border: 2px solid #ff8a28;
                border-radius: 20px;
                &:hover {
                    background-color: #fff;
                    border: 3px solid #ff8a28;
                    color: #000;
                    font-weight: 500;
                }
            }
        }
    }
}

//메인 페이지 제외한 나머지 서브페이지의 상단영역
#header.notmain {
    background-color: #fff;
    border-bottom: 1px solid #000;
    .center {
        .sub_menu_board {
            background-color: #000;
        }
        .gnb {
            > li {
                &:hover {
                    > a {color: #ff8a28;}
                }
                > a {
                    color: #000;
                }
                .sub_menu {
                    // background-color: #fff;
                    li {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .right {
            > a {
                color: #000;
                font-weight: 500;
                transition: all 0.3s;
                &:hover {
                    background-color: #ff8a28;
                    color: #fff;
                }
            }
            .sns {
                li {
                    a {
                        i {
                            color: #000;
                            &:hover {
                                background-color: #000;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .mobile_menu {
            .bar {background-color: #000;}
        }
    }
}

//중간 영역
#container {
    //메인페이지 slide 영역
    .slide_wrap {
        .slide {
            width: 100%;
            overflow: hidden;
            position: relative;
            .view {
                width: 100%; height: 850px;
                display: flex;
                .slide_box {
                    position: absolute; left: 0; top: 0;
                    width: 100%; height: 100%;
                    opacity: 0; z-index: 2;
                    transition: all 0.8s;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center top;
                    &:nth-child(1) {
                        background-image: url("/img/slide1.jpg");
                        opacity: 1; z-index: 3;
                        .text_box { right: 14%; top: 20%;}
                    }
                    &:nth-child(2) {
                        background-image: url("/img/slide2.jpg");
                        .text_box {
                            left: 50%; top: 45px;
                            transform: translateX(-50%);
                        }
                    }
                    &:nth-child(3) {
                        background-image: url("/img/slide3-1.jpg");
                        background-position: center;
                        .text_box {
                            left: 50%; top: 50%;
                            transform: translate(-50%,-50%);
                            text-transform: uppercase;
                            text-align: center;
                            font-size: 80px; line-height: 87px;
                        }
                    }
                    .text_box {
                        position: absolute; font-size: 58px;
                        line-height: 70px; font-weight: 500;
                        color: #fff;
                        text-shadow: 0 1px 5px rgba(0,0,0,0.7);
                    }
                }
            }
            .mouse_icon {
                position: absolute;
                bottom: 0; left: 50%;
                transform: translateX(-50%);
                text-align: center;
                z-index: 5;
                .mouse_wrap {
                    .mouse {
                        position: relative;
                        margin: 0 auto 5px;
                        width: 28px; height: 50px;
                        border-radius: 30px;
                        background-color: rgba(255,255,255,0.1);
                        border: 2px solid rgba(0,0,0,0.8);
                        .mouse_wheel {
                            position: absolute; left: 50%; top: 5px;
                            transform: translateX(-50%);
                            width: 9px; height: 10px;
                            transition:all 0.5s;
                            border-radius: 5px; background-color: rgba(0,0,0,0.8);
                        }
                        .mouse_wheel.top{
                            height:23px;
                            top:5px;
                            bottom:unset;
                        }
                        .mouse_wheel.bot{
                            height:10px;
                            top:unset;
                            bottom:23px;
                            opacity:0;
                        }
                    }
                }
                .text {margin-bottom: 12px;}
                .scroll_bar {
                    margin: 0 auto;
                    width: 1px; height: 40px;
                    background-color: #000;
                }
            }
            .slide_btn_set {
                position: absolute;
                left: 35px; top: 50%;
                transform: translateY(-50%);
                z-index: 5;
                .slide_btn {
                    width: 15px; height: 15px;
                    border-radius: 50%;
                    background-color: #000;
                    margin-bottom: 10px;
                    cursor: pointer;
                    &:last-child {margin-bottom: 0;}
                }
                .slide_btn.on {background-color: #fff;}
            }
        }
    }
    //메인페이지 menu_tab 영역
    .menu_tab {
        display: flex; justify-content: center;
        .center {
            width: 100%;
            height: 900px;
            display: flex;
            position: relative;
            > div {width: 50%;}
            .menu_box {
                position: absolute; left: 4.5%; top: 95px;
                z-index: 98;
                background-color: rgba(0,0,0,0.8);
                width: 12%; padding: 2%;
                border-radius: 20px;
                .title {
                    font-size: 60px; padding-bottom: 60px;
                    text-shadow: 1px 2px 6px rgba(0,0,0,0.5);
                    color: #fff;
                }
                .menus {
                    li {
                        margin-bottom: 34px;
                        a {
                            color: #fff; font-size: 23px;
                            transition: all 0.1s;
                            text-shadow: 1px 2px 6px rgba(0,0,0,0.5);
                        }
                        a.on {border-bottom: 2px solid #fff;}
                    }
                }
            }
            .center_img_wrap {
                position: absolute; left: 50%; top: 50%;
                transform: translate(-50%,-50%);
                width: 22%; height: 500px;
                z-index: 97;
                .center_img {
                    position: absolute; left: 0; top: 0;
                    width: 100%; height: 100%;
                    transition: all 0.5s;
                    display: none;
                    border-radius: 20px;
                }
                .center_img.on {display: block;}
            }
            .left {
                position: relative;
                background-image: url(/img/left_bg.jpg);
                .left_img {
                    position: absolute; left: 0; top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 95;
                    transform: translateX(100%);
                    transition: all 0.5s;
                }
                .left_img.on {transform: translate(0);}
            }
            .right {
                position: relative;
                z-index: 96;
                background-color: #fff;
                .right_box{
                    display: none;
                    padding: 107px 60px 0 240px;
                    box-sizing: border-box;
                    position: absolute; left: 0; top: 0;
                    transition: all 0.5s;
                    .menu_img_wrap {
                        display: flex;
                        .menu_img {
                            width: 31%; height: 190px;
                            margin: 0 2% 130px 0;
                        }
                        .menu_img.covernat {
                            width: 40%;
                        }
                    }
                    .menu_title {
                        font-size: 25px; margin-bottom: 37px;
                        color: #ff8a28;
                    }
                    .text {
                        font-size: 15px; line-height: 28px;
                        margin-bottom: 80px; font-weight: 500;
                    }
                    .right_bot {
                        .bot_title {
                            font-size: 22px; padding-bottom: 13px;
                            border-bottom: 2px solid #ff8a28;
                            margin-bottom: 30px; font-weight: 600;
                            color: #ff8a28; 
                        }
                        .bot_box_wrap {
                            display: flex;
                            .bot_box {
                                width: 16%; text-align: center;
                                margin-right: 12px;
                                .menu_bot_img {
                                    display: block; margin: 0 auto 20px;
                                    width: 80px; height: 80px;
                                    border-radius: 50%;
                                }
                                .text {font-size: 16px;}
                            }
                            .bot_box.covernat {width: 23%;}
                            .bot_box.yale {width: 19%;}
                        }
                    }
                }
                .right_box.on {display: block;}      
            }
        }
    }
    //메인페이지 inner 영역
    .inner {
        .inner_top {
            padding: 120px 0;
            background-color: #000;
            color: #fff;
            text-align: center;
            line-height: 60px;font-weight: 600;
            font-size: 50px;
            word-spacing: -9px;
            .mg {margin-right: 10px;}
            span.ani_start {
                position: relative;
                animation-name: text_wave;
                animation-duration: .7s;
                &:nth-child(2){animation-delay: 0.1s;}
                &:nth-child(3){animation-delay: 0.2s;}
                &:nth-child(4){animation-delay: 0.3s;}
                &:nth-child(5){animation-delay: 0.4s;}
                &:nth-child(6){animation-delay: 0.5s;}
                &:nth-child(7){animation-delay: 0.6s;}
                &:nth-child(8){animation-delay: 0.7s;}
                &:nth-child(9){animation-delay: 0.8s;}
                &:nth-child(10){animation-delay: 0.9s;}
                &:nth-child(11){animation-delay: 1.0s;}
            }
            @keyframes text_wave {
                0% {top: 0;}
                35% {top: -20px;}
                100% {top: 0;}
            }
        }
        .inner_mid {
            width: 100%;
            img {width: 100%; height: 740px;}
        }
        .inner_bot {
            padding: 40px 0; background-color: coral;
        }
    }
    //메인페이지 count 영역
    .count {
        display: flex;
        // background-color: bisque;
        background-color: #000;
        color: #fff;
        overflow: hidden;
        > div {width: 50%;}
        .left {
            padding-left: 155px; box-sizing: border-box;
            .title {
                padding: 200px 0 50px;
                font-size: 60px; line-height: 78px;
            }
            .text {
                font-size: 19px; line-height: 28px;
                padding-bottom: 135px;
            }
            .count_wrap {
                padding: 40px 80px;
                box-sizing: border-box;
                border: 1px solid #fff;
                margin-bottom: 50px;
                border-radius: 20px;
                .count_title {
                    font-size: 20px; padding-bottom: 40px;
                }
                .count_box {
                    font-size: 20px; display: flex;
                    > span {
                        position: relative; top: 8px;
                        margin: 0 20px; font-size: 50px;
                    }
                    .count_view {
                        .count_num {
                            font-size: 60px; margin-bottom: 23px;
                            font-weight: 500;
                        }
                        .count_text {
                            text-align: center;
                        }
                    }
                }
            }
            .more {
                display: block;
                // background-color: orangered;
                background-color: #ff8a28;
                width: 195px; line-height: 60px; text-align: center;
                border-radius: 30px; color: #fff;
                font-size: 17px; margin-bottom: 195px;
                transition: all 0.5s;
                &:hover {
                    background-color: #fff; color: #000;
                    font-weight: 500;
                }
            }
        }
        .right {
            display: flex; justify-content: flex-end;
            align-items: center; position: relative;
            .big_circle_line {
                position: absolute; top: 15%; right: -40%;
                width: 850px; height: 850px;
                border: 2px dashed #ff8a28;
                box-sizing: border-box;
                border-radius: 50%;
                animation-name: big_circle;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            @keyframes big_circle {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(-360deg);}
            }
            .small_circle_line {
                position: absolute; top: 15%; right: -40%;
                width: 850px; height: 850px;
                // background-color: olivedrab;
                box-sizing: border-box;
                border-radius: 50%;
                animation-name: smaill_circle;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                @keyframes smaill_circle {
                    0% {transform: rotate(0deg);}
                    100% {transform: rotate(360deg);}
                }
                .small_circle {
                    position: absolute;
                    left: 50%; bottom: -12px;
                    width: 25px; height: 25px;
                    border-radius: 50%;
                    background-color: #ff8a28;
                }
            }
            .big_img {
                width: 500px; height: 500px;
                border-radius: 50%; margin-right: 150px;
                z-index: 95;
            }
            .small_img {
                width: 200px; height: 200px;
                border-radius: 50%;
                position: absolute;
                right: 40px; top: 110px
            }
        }
    }
    //메인페이지 notice 영역
    .notice {
        display: flex; justify-content: center;
        .center {
            width: 100%;
            display: flex; justify-content: space-between;
            border-top: 1px solid #000;
            > .left {
                width: 40%;
                border-right: 1px solid #cbcbcb;
                .title {
                    text-transform: uppercase;
                    font-size: 80px;
                    padding: 80px 50px;
                    .text {
                        &:nth-child(2) {
                            padding-left: 122px;
                        }
                    } 
                }
            }
            .right {
                width: 60%;
                .notice_box {
                    display: flex; justify-content: space-between;
                    align-items: center; position: relative;
                    // background-color: #000;
                    background-color: #fff;
                    border-bottom: 1px solid #cbcbcb;
                    &:last-child {border: none;}
                    &:hover {
                        .hover_img {opacity: 1;}
                    }
                    .left {
                        padding: 90px 55px;
                        width: 60%;
                        .event {
                            padding-bottom: 15px;
                            color: #ff8a28;
                        }
                        .notice_title {
                            a {
                                display: block;
                                padding-bottom: 25px;
                                color: #000;
                            }
                        }
                        .event_date {
                            color: #959595;
                        }
                    }
                    .right {
                        text-align: right;
                        width: 40%;
                        a {
                            color: #000;
                            i {
                                font-size: 25px;
                                padding-right: 50px;
                            }
                        }
                    }
                    .hover_img {
                        position: absolute; left: 57%; top: 50%;
                        transform: translateY(-50%);
                        width: 25%; height: 230px;
                        transition: all 0.5s;
                        opacity: 0;
                        img {
                            width: 100%; height: 100%;
                        }
                    }
                }
            }
        }
    }
    //메인페이지 rolling 영역
    .rolling {
        background-color: #000;
        padding-bottom: 210px;
        .title {
            color: #fff; padding: 100px 50px 145px 50px;
            font-size: 73px;
        }
        .rolling_wrap {
            width: 100%;
            overflow: hidden;
            .rolling_img_box {
                width: 400%;
                display: flex;
                // flex-wrap: nowrap;
                animation: move 20s linear infinite;
                @keyframes move {
                    0% {transform: translateX(0);}
                    100% {transform: translateX(-50%);}
                }
                .img_wrap,.clone {
                    width: 12.5%;
                    margin: 0 0.3%;
                    // padding: 0 0.3%;
                    box-sizing: border-box;
                    position: relative;
                    .rolling_img {width: 100%;}
                    .hover_bg {
                        opacity: 0;
                        position: absolute; left: 0; top: 0;
                        width: 100%; height: 100%;
                        background-color: rgba(0,0,0,0.7);
                        text-align: center;
                        transition: all 0.5s;
                        display: flex; align-items: center;
                        a {
                            color: #fff; display: block;
                            width: 100%;
                            // margin-top: 120px;
                            .comp_name {
                                font-size: 22px;
                                margin-bottom: 30px;
                            }
                            .clothes_name {
                                font-size: 23px;
                                line-height: 38px;
                                margin-bottom: 30px;
                            }
                            .fa-regular {font-size: 50px;}
                        }
                    }
                    &:hover {
                        .hover_bg {opacity: 1;}
                    }
                }
            }
            .rolling_img_box:hover {
                animation-play-state: paused;
            }
        }
    }
    //메인페이지 carousel 영역
    .carousel {
        padding-bottom: 120px;
        .title {padding: 100px 50px 145px 115px; font-size: 60px;}
        .center {
            margin: 0 auto;
            display: flex; justify-content: center;
            .carousel_wrap {
                width: 90%; overflow: hidden; position: relative;
                .carousel_box {
                    width: 200%; display: flex;
                    .carousel_img {
                        width: 12.5%; box-sizing: border-box;
                        padding: 0 0.7%;
                        img {width: 100%;}
                        .info_text {
                            a {
                                color: #000; display: block;
                                padding-top: 10px;
                                line-height: 22px;
                                font-weight: 500;
                            }
                        }
                    }
                }
                .carousel_btn_set {
                    > div {
                        position: absolute; top: 50%;
                        transform: translateY(-50%);
                        background-color: rgba(0,0,0,0.8);
                        color: #fff; width: 60px; line-height: 60px;
                        border-radius: 50%; text-align: center;
                        i {position: relative; top: 3px; font-size: 25px;}
                    }
                    .prev_btn {left: 0;}
                    .next_btn {right: 0;}
                }
            }
        }
    }
    //브랜드스토리 페이지
    .brand_story_wrap {
        .bs_wrap {
            display: flex; align-items: center;
            color: #fff;
            background-color: #000;
            border-top: 1px solid #fff;
            > div {width: 50%;}
            .left {
                img {width: 85%; height: 896px;}
            }
            .right {
                .inner_left {
                    .brand_text {
                        font-size: 26px;
                        padding-bottom: 10px;
                    }
                    .title {
                        font-size: 32px;
                        padding-bottom: 50px;
                    }
                }
                .inner_right {
                    .context {
                        font-size: 17px;
                        line-height: 28px;
                        .text1,.text2,.text3 {
                            padding-bottom: 43px;
                        }
                    }
                }
            }
        }
        .bs2 {border-top: none;}
        .brand_video {
            display: flex; justify-content: center;
            background-color: #000;
            padding: 150px 0 250px;
            video {width: 68%;}
        }
    }
    //메뉴 페이지
    .clothes_menu_wrap {
        display: flex; justify-content: center;
        background-color: #000; padding-bottom: 100px;
        .center {
            width: 67%;
            .title {padding: 110px 0 70px; font-size: 50px; color: #fff;} 
            .menu_list {
                display: flex; justify-content: center;
                li {
                    margin: 0 4% 100px; font-size: 24px;
                    position: relative;
                    &::before {
                        content: ""; width: 100%; height: 2px;
                        background-color: #7a7a7a; position: absolute;
                        left: 0; top: -13px;
                    }
                    a {color: #7a7a7a; transition: all 0.2s;}
                }
                li.on {
                    &::before {background-color: #ff8a28;}
                    a {color: #ff8a28;}
                }
            }
            .list_wrap {
                display: flex; flex-wrap: wrap;
                .list_box {
                    width: 21%; margin: 2%;
                    > a {
                        color: #fff;
                        .img_wrap {
                            width: 100%; height: 320px;
                            img {width: 100%; height: 100%; border-radius: 25px;}
                        }
                        .text_box {
                            padding: 12px; box-sizing: border-box;
                            .comp {padding: 2px 0 10px; font-size: 15px;}
                            .name {margin-bottom: 15px; line-height: 21px;}
                            .price_wrap {
                                display: flex; justify-content: space-between;
                                .left {
                                    display: flex;
                                    .sale_price {
                                        margin-right: 12px; font-size: 21px;
                                        span {padding-left: 1px;}
                                    }
                                    .price {
                                        position: relative; top: 4px; color: gray;
                                        &::after {
                                            content: ""; width: 100%; height: 1px;
                                            background-color: gray; position: absolute;
                                            left: 0; top: 9px;
                                        }
                                        span {padding-left: 1px;}
                                    }
                                }
                                .right {
                                    .percent {
                                        color: #ff8a28; position: relative;
                                        top: 4px;
                                        span {padding-left: 1px;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .page_list {
                color: #fff; margin-top: 80px;
                display: flex; justify-content: center;
                li {
                    margin: 0 17px;
                    a {color: #fff;}
                }
                li.on {
                    a {color: #ff8a28;}
                }
            }
        }
    }
    //라이프 페이지
    .life {
        display: flex; justify-content: center;
        padding-bottom: 100px;
        background-color: #000;
        .center {
            width: 80%;
            > .title {padding: 110px 0 70px; font-size: 50px; color: #fff;}
            .life_wrap {
                display: flex; flex-wrap: wrap;
                .life_box {
                    width: 22%; margin: 0 1%;
                    margin-bottom: 50px;
                    a {
                        color: #fff;
                        .life_img {width: 100%; border-radius: 25px;}
                        .title {
                            padding-top: 15px; font-size: 21px;
                            line-height: 25px;
                        }
                        .date {
                            padding-top: 20px; color: #b3b3b3;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    //매장위치 페이지
    .store_map_wrap {
        display: flex; justify-content: center;
        .center {
            width: 67%; margin-bottom: 300px;
            //스크롤바 전체
            &::-webkit-scrollbar {opacity: 0;}
            //스크롤바 막대
            &::-webkit-scrollbar-thumb {
                background-color: #000; border-radius: 10px;
                border: 5px solid #fff;
            }
            //스크롤바 막대 외부
            &::-webkit-scrollbar-track {background-color: transparent;}
            .title {padding: 110px 0 70px; font-size: 50px;}
            .store_search {
                display: flex; align-items: center;
                justify-content: center;
                margin-bottom: 100px;
                > div {width: 50%;}
                .left {
                    .map_img {width: 100%; height: 800px;}
                }
                .right {
                    padding-left: 50px;
                    .store_addr_search_wrap, .store_name_search_wrap {
                        font-size: 20px;
                        > p {padding-bottom: 20px; font-weight: 500;}
                        #store_addr_search, #store_name_search {
                            > select {
                                width: 140px; height: 35px;
                                border-radius: 10px; padding-left: 5px;
                                margin-bottom: 50px;
                                border: 2px solid #ff8a28;
                                &:first-child {margin-right: 8px;}
                            }
                            > input {
                                width: 288px; height: 35px;
                                border-radius: 10px; padding-left: 5px;
                                border: 2px solid #ff8a28;
                            }
                            #addr_search_btn,#name_search_btn {
                                width: 35px; line-height: 35px;
                                background-color: #ff8a28;
                                color: #fff;
                                border: none; border-radius: 10px;
                                cursor: pointer;
                                margin-left: 10px;
                                > i {
                                    position: relative; top: 3px;
                                    font-size: 21px;
                                }
                            }
                        }
                    }
                }
            }
            .store_map_list {
                margin-bottom: 3px;
                h3 {
                    padding-bottom: 40px; font-size: 33px;
                    color: #000;
                }
                .h_line {
                    display: flex;
                    border-top: 1px solid #cbcbcb;
                    border-bottom: 1px solid #cbcbcb;
                    font-weight: 500; font-size: 17px;
                    color: #121212;
                }
                .line {
                    display: flex;
                    // background-color: salmon;
                    border-bottom: 1px solid #cbcbcb;
                    color: #121212;
                }
                .h_line,.line {
                    line-height: 55px;
                    text-align: center;
                    .name {width: 20%;}
                    .addr {width: 50%;}
                    .tell {width: 30%;}
                }
            }
        }
    }
}

//관리자 상품관리페이지
#admin_prd_page {
    .prd_list_wrap {
        display: flex; flex-wrap: wrap;
        .prd_box {
            width: 17%; margin: 1%;
            border: 1px solid orangered;
            img {width: 100%; height: 300px;}
        }
    }
    > form {margin: 50px 0;}
}

//관리자 매장관리페이지
#admin_store_page {
    .store_list_wrap {
        border: 1px solid red;
        margin-bottom: 50px;
        .store_list {
            border: 1px solid olivedrab;
            margin-bottom: 10px;
            &:last-child {margin-bottom: 0;}
        }
    }
    #store_form {
        input {display: block; margin-bottom: 30px;}
        #sample6_detailAddress,#sample6_extraAddress {display: none;}
    }
}

//관리자 라이프관리페이지
#admin_life_wrap {
    .life_wrap {
        margin-top: 50px;
        display: flex; flex-wrap: wrap;
        .box {
            border: 1px solid #000;
            margin-bottom: 20px;
            width: 23%; margin: 0 1%;
            img {width: 100%; height: 250px;}
        }
    }
}

//하단 영역
#footer {
    display: flex; justify-content: center;
    background-color: #000;
    color: #fff;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    .center {
        text-align: center;
        .f_logo {
            padding: 80px 0 40px;
            img {width: 150px; height: 30px;}
        }
        .f_sns {
            display: flex; justify-content: center;
            li {
                margin: 0 10px 30px; font-size: 27px;
                a {
                    color: #fff;
                    i {
                        width: 50px; line-height: 50px;
                        text-align: center;
                        border-radius: 50%;
                        transition: all 0.3s;
                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }
        }
        > a {
            display: block; color: #fff;
            font-weight: 600; margin-bottom: 40px;
        }
        .info {
            text-align: center;
            .wrap {
                p {display: inline;}
                .wrap_930 {display: inline;}
                &:first-child {margin-bottom: 5px;}
            }
            .bar {
                &::after {
                    content: ""; display: inline-block;
                    width: 1px; height: 14px;
                    background-color: #fff;
                    position: relative;
                    left: 3px; top: 1px;
                    margin: 0 6px;
                }
            }
        }
        .copy {
            padding: 20px 0 75px;
        }
    }
}

//메인 페이지 제외한 나머지 서브페이지의 상단영역
#footer.white_ver {
    background-color: #fff;
    color: #000;
    border-top: 1px solid #000;
    .center {
        text-align: center;
        .f_sns {
            li {
                a {
                    color: #000;
                    i {
                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }
        > a {color: #000;}
        .info {
            .bar {
                &::after {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}

//맨 위로 가는 태그 영역
#go_top {
    position: fixed; right: 20px; bottom: 20px;
    background-color: #fff;
    width: 50px; line-height: 50px;
    border-radius: 50%; text-align: center;
    z-index: 99;
    cursor: pointer;
    i {
        position: relative; top: 5px;
        font-size: 28px; color: #000;
    }
}