@media screen and (max-width: 1200px) {
    // 상단 영역
    #header {
        .center {
            width: 93%;
            .logo {
                a {
                    img {
                        width: 150px; height: 30px;
                        position: relative; bottom: 4px;
                    }
                }
            }
            .gnb_wrap {
                .gnb {
                    > li {
                        line-height: 100px;
                        > a {width: 100px;}
                    }
                }
            }
        }
    }
    
    // 중간 영역
    #container {
        //메인페이지 slide 영역
        .slide_wrap {
            .slide {
                .view {
                    height: 650px;
                    .slide_box {
                        .text_box {font-size: 42px; line-height: 50px;}
                        &:nth-child(1) {
                            .text_box { right: 9%; top: 20%;}
                        }
                        &:nth-child(2) {
                            .text_box {top: 30px;}
                        }
                        &:nth-child(3) {
                            .text_box {font-size: 70px; line-height: 77px;}
                        }
                    }
                }
            }
        }
        //메인페이지 menu_tab 영역
        .menu_tab {
            .center {
                height: 850px;
                .menu_box {
                    width: 18%; left: 3%; top: 55px;
                    .title { font-size: 50px; padding-bottom: 50px;}
                }
                .center_img_wrap {
                    height: 350px;
                    .center_img.on {display: block;}
                }
                .right {
                    .right_box{
                        padding: 107px 5px 0 145px;
                        .right_bot {
                            .bot_box_wrap {
                                .bot_box {
                                    width: 20%;
                                    .text {font-size: 15px;}
                                }
                            }
                        }
                    } 
                }
            }
        }
        //메인페이지 inner 영역
        .inner {
            .inner_top {
                font-size: 43px;
            }
            .inner_mid {
                width: 100%;
                img {width: 100%; height: 650px;}
            }
        }
        //메인페이지 count 영역
        .count {
            .left {
                padding-left: 40px;
                .title {font-size: 55px; line-height: 70px;}
                .text {font-size: 18px;}
                .count_wrap { padding: 40px 50px; border: 2px solid #fff;}
            }
            .right {
                .big_circle_line {right: -97%; width: 850px; height: 850px;}
                .small_circle_line {right: -97%; width: 850px; height: 850px;}
                .big_img {width: 350px; height: 350px; margin-right: 70px;}
                .small_img {width: 100px; height: 100px; top: 185px;}
            }
        }
        //메인페이지 rolling 영역
        .rolling {
            .rolling_wrap {
                .rolling_img_box {
                    width: 533.333%;
                }
            }
        }
        //메인페이지 carousel 영역
        .carousel {
            .title {padding: 100px 50px 145px 85px;}
            .center {
                .carousel_wrap {
                    .carousel_box {width: 266.666%;}
                }
            }
        }
        //메뉴페이지
        .clothes_menu_wrap {
            .center {
                width: 95%;
                .title {padding-left: 15px;}
                .list_wrap {
                    .list_box {width: 29%;}
                }
            }
        }
        //라이프 페이지
        .life {
            .center {
                width: 95%;
                .life_wrap {
                    .life_box {width: 31%; margin: 2% 1%;}
                }
            }
        }
    }
}
