// 상단 영역
#header {
    display: flex; justify-content: center;
    background-color: #fff;
    position: relative; z-index: 99;
    background-color: orange;
    .center {
        width: 91%; align-items: center;
        display: flex; justify-content: space-between;
        .logo {
            a {color: #000;}
        }
        .sub_menu_board {
            position: absolute; left: 0; top: 100px;
            width: 100%;
            height: 0;
            transition: all 0.5s ease-in-out;
            background-color: #fff;
        }
        .gnb {
            display: flex;
            margin-left: 90px;
            > li {
                line-height: 100px;
                position: relative;
                > a {
                    color: #000;
                    width: 100%;
                    display: block;
                    padding: 0 90px;
                }
                .sub_menu {
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    position: absolute; left: 0; top: 100px;
                    text-align: center;
                    transition: all 0.5s ease-in-out;
                    // background-color: #fff;
                    li {
                        line-height: 50px;
                        &:nth-child(1) {padding-top: 10px;}
                        a {color: #000;}
                    }
                }
            }
        }
        .right {
            display: flex; align-items: center;
            // 나중에 클래스 달고 이름 바꿔주기
            > a {
                display: block;
                background-color: pink;
                color: #000;
                width: 140px;
                line-height: 40px;
                text-align: center;
                border: 1px solid red;
                border-radius: 30px;
            }
            .sns {
                display: flex;
                margin-left: 35px;
                li {
                    margin-left: 25px;
                    font-size: 25px;
                }
            }
            .mobile_menu {
                display: none;
            }
        }
    }
}
// 중간 영역
#container {
    //메인페이지 slide 영역
    .slide_wrap {
        .slide {
            width: 100%;
            overflow: hidden;
            position: relative;
            .view {
                background-color: skyblue;
                width: 300%; height: 850px;
                display: flex;
                .slide_box {
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    &:nth-child(1) {background-image: url("/img/test1.jpg");}
                    &:nth-child(2) {background-image: url("/img/test2.jpg");}
                    &:nth-child(3) {background-image: url("/img/test3.jpg");}
                }
            }
            .mouse_icon {
                position: absolute;
                bottom: 0; left: 50%;
                transform: translateX(-50%);
                text-align: center;
                .material-symbols-outlined {
                    font-size: 37px;
                }
                .text {margin-bottom: 12px;}
                .scroll_bar {
                    margin: 0 auto;
                    width: 1px; height: 40px;
                    background-color: #000;
                }
            }
            .slide_btn_set {
                position: absolute;
                left: 35px; top: 50%;
                transform: translateY(-50%);
                > a {
                    display: block; margin-bottom: 15px;
                    &:last-child {margin-bottom: 0;}
                    .slide_btn {
                        width: 15px; height: 15px;
                        border-radius: 50%;
                        background-color: #000;
                    }
                }
            }
        }
    }
    //메인페이지 menu_tab 영역
    .menu_tab {
        display: flex; justify-content: center;
        .center {
            width: 100%;
            height: 900px;
            display: flex;
            position: relative;
            > div {width: 50%;}
            .menu_box {
                position: absolute; left: 4.5%; top: 95px;
                z-index: 98;
                .title {font-size: 60px; padding-bottom: 60px;}
                .menus {
                    li {
                        margin-bottom: 34px;
                        a {
                            color: #000; font-size: 23px;
                            transition: all 0.5s;
                        }
                        a.on {border-bottom: 2px solid #000;}
                    }
                }
            }
            .center_img_wrap {
                position: absolute; left: 50%; top: 50%;
                transform: translate(-50%,-50%);
                width: 22%; height: 500px;
                z-index: 97;
                .center_img {
                    position: absolute; left: 0; top: 0;
                    width: 100%; height: 100%;
                    transition: all 0.5s;
                    display: none;
                }
                .center_img.on {display: block;}
            }
            .left {
                position: relative;
                .left_img {
                    position: absolute; left: 0; top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 95;
                    transform: translateX(100%);
                    transition: all 0.5s;
                }
                .left_img.on {transform: translate(0);}
            }
            .right {
                position: relative;
                z-index: 96;
                background-color: antiquewhite;
                .right_box{
                    display: none;
                    padding: 120px 60px 0 240px;
                    box-sizing: border-box;
                    position: absolute; left: 0; top: 0;
                    transition: all 0.5s;
                    .menu_img_wrap {
                        display: flex;
                        .menu_img {
                            width: 25%; height: 190px;
                            margin: 0 2% 130px 0;
                        }
                    }
                    .menu_title {font-size: 25px; margin-bottom: 37px;}
                    .text {
                        font-size: 15px; line-height: 28px;
                        margin-bottom: 80px;
                    }
                    .right_bot {
                        .bot_title {
                            font-size: 23px; padding-bottom: 13px;
                            border-bottom: 1px solid red;
                            margin-bottom: 30px;
                        }
                        .bot_box_wrap {
                            display: flex;
                            .bot_box {
                                width: 15%; text-align: center;
                                .menu_bot_img {
                                    display: block; margin: 0 auto 20px;
                                    width: 80%; height: 80px;
                                    border-radius: 50%;
                                }
                                .text {font-size: 16px;}
                            }
                        }
                    }
                }
                .right_box.on {display: block;}      
            }
        }
    }
    //메인페이지 inner 영역
    .inner {
        .inner_top {
            padding: 120px 0;
            background-color: orange;
            text-align: center;
            line-height: 17px;
        }
        .inner_mid {
            width: 100%;
            img {width: 100%; height: 740px;}
        }
        .inner_bot {
            padding: 40px 0; background-color: coral;
        }
    }
    //메인페이지 count 영역
    .count {
        display: flex;
        background-color: bisque;
        overflow: hidden;
        > div {width: 50%;}
        .left {
            padding-left: 155px; box-sizing: border-box;
            .title {
                padding: 200px 0 50px;
                font-size: 60px; line-height: 78px;
            }
            .text {
                font-size: 19px; line-height: 28px;
                padding-bottom: 135px;
            }
            .count_wrap {
                padding: 40px 138px;
                box-sizing: border-box;
                border: 1px solid red;
                margin-bottom: 50px;
                .count_title {
                    font-size: 20px; padding-bottom: 60px;
                }
                .count_box {
                    font-size: 130px;
                    span {font-size: 24px;}
                }
            }
            .more {
                display: block; background-color: orangered;
                width: 195px; line-height: 60px; text-align: center;
                border-radius: 30px; color: #fff;
                font-size: 17px; margin-bottom: 195px;
            }
        }
        .right {
            display: flex; justify-content: flex-end;
            align-items: center; position: relative;
            .big_circle_line {
                position: absolute; top: 15%; right: -40%;
                width: 850px; height: 850px;
                border: 1px dashed red;
                box-sizing: border-box;
                border-radius: 50%;
                animation-name: big_circle;
                animation-duration: 20s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            @keyframes big_circle {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(-360deg);}
            }
            .small_circle_line {
                position: absolute; top: 15%; right: -40%;
                width: 850px; height: 850px;
                // background-color: olivedrab;
                box-sizing: border-box;
                border-radius: 50%;
                animation-name: smaill_circle;
                animation-duration: 20s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                @keyframes smaill_circle {
                    0% {transform: rotate(0deg);}
                    100% {transform: rotate(360deg);}
                }
                .small_circle {
                    position: absolute;
                    left: 50%; bottom: -12px;
                    width: 25px; height: 25px;
                    border-radius: 50%;
                    background-color: aqua;
                }
            }
            .big_img {
                width: 55%; height: 50%;
                border-radius: 50%; margin-right: 90px;
                z-index: 95;
            }
            .small_img {
                width: 20%; height: 15%;
                border-radius: 50%;
                position: absolute;
                right: 40px; top: 110px
            }
        }
    }

    //메뉴페이지
    .clothes_menu_wrap {
        display: flex; justify-content: center;
        background-color: skyblue;
        .center {
            width: 67%;
            .title {padding: 110px 0 70px; font-size: 50px;}
            .menu_list {
                display: flex; justify-content: center;
                li {
                    margin: 0 4% 100px; font-size: 24px;
                    position: relative;
                    &::before {
                        content: ""; width: 100%; height: 2px;
                        background-color: gray; position: absolute;
                        left: 0; top: -13px;
                    }
                    a {color: gray; transition: all 0.2s;}
                }
                li.on {
                    &::before {background-color: coral;}
                    a {color: coral;}
                }
            }
            .list_wrap {
                display: flex; flex-wrap: wrap;
                .list_box {
                    width: 21%; margin: 2%;
                    .img_wrap {
                        width: 100%; height: 320px;
                        img {width: 100%; height: 100%; border-radius: 25px;}
                    }
                    .text_box {
                        padding: 12px; box-sizing: border-box;
                        .comp {padding: 2px 0 10px; font-size: 15px; color: gray;}
                        .name {margin-bottom: 15px; line-height: 21px;}
                        .price_wrap {
                            display: flex; justify-content: space-between;
                            .left {
                                display: flex;
                                .sale_price {
                                    margin-right: 12px; font-size: 21px;
                                }
                                .price {
                                    position: relative; top: 4px; color: gray;
                                    &::after {
                                        content: ""; width: 100%; height: 1px;
                                        background-color: gray; position: absolute;
                                        left: 0; top: 9px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// 하단 영역
#footer {
    display: flex; justify-content: center;
    .center {
        text-align: center;
        .f_logo {
            padding: 80px 0 40px;
        }
        .f_sns {
            display: flex; justify-content: center;
            li {margin: 0 17px 50px; font-size: 27px;}
        }
        > a {
            display: block; color: #000;
            font-weight: 600; margin-bottom: 55px;
        }
        .info {
            text-align: center;
            .wrap {
                p {display: inline;}
                .wrap_930 {display: inline;}
            }
            .bar {
                &::after {
                    content: ""; display: inline-block;
                    width: 1px; height: 14px;
                    background-color: red;
                    position: relative;
                    left: 3px; top: 1px;
                    margin: 0 6px;
                }
            }
        }
        .copy {
            padding: 120px 0 75px;
        }
    }
}

// 관리자 상품관리페이지
#admin_prd_page {
    .prd_list_wrap {
        display: flex; flex-wrap: wrap;
        .prd_box {
            width: 17%; margin: 1%;
            border: 1px solid orangered;
            img {width: 100%; height: 300px;}
        }
    }
    > form {margin: 50px 0;}
}