// 상단 영역
#header {
    display: flex; justify-content: center;
    position: relative; z-index: 99;
    background-color: #000;
    box-sizing: border-box;
    .center {
        width: 91%; align-items: center;
        display: flex; justify-content: space-between;
        .logo {
            a {
                img {width: 180px; height: 35px;}
            }
        }
        .sub_menu_board {
            position: absolute; left: 0; top: 100px;
            width: 100%;
            height: 0;
            transition: all 0.5s ease-in-out;
            background-color: #fff;
        }
        .gnb {
            display: flex;
            margin-left: 90px;
            > li {
                line-height: 100px;
                position: relative;
                &:hover {
                    > a {color: #ff8a28;}
                }
                > a {
                    color: #fff;
                    width: 230px;
                    display: block;
                    text-align: center;
                    transition: all 0.3s;
                    font-size: 17px;
                    font-weight: 600;
                }
                .sub_menu {
                    width: 100%;
                    height: 0;
                    overflow: hidden;
                    position: absolute; left: 0; top: 100px;
                    text-align: center;
                    transition: all 0.5s ease-in-out;
                    // background-color: #fff;
                    li {
                        line-height: 50px;
                        &:nth-child(1) {padding-top: 10px;}
                        a {
                            color: #000;
                            transition: all 0.5s;
                            &:hover {font-weight: bold;}
                        }
                    }
                }
            }
        }
        .right {
            display: flex; align-items: center;
            // 나중에 클래스 달고 이름 바꿔주기
            > a {
                display: block;
                // background-color: #000;
                color: #fff;
                width: 140px;
                line-height: 40px;
                text-align: center;
                border: 2px solid #ff8a28;
                border-radius: 20px;
                &:hover {
                    background-color: #fff;
                    color: #000;
                    font-weight: 500;
                }
            }
            .sns {
                display: flex;
                margin-left: 35px;
                li {
                    font-size: 25px;
                    margin: 0 2px;
                    a {
                        i {
                            color: #fff;
                            width: 50px; line-height: 50px;
                            text-align: center;
                            border-radius: 50%;
                            transition: all 0.3s;
                            &:hover {
                                background-color: #fff;
                                color: #000;
                            }
                        }
                    }
                }
            }
            .mobile_menu {
                display: none;
            }
        }
    }
}

//메인 페이지 제외한 나머지 서브페이지의 상단영역
#header.notmain {
    background-color: #fff;
    border-bottom: 1px solid #000;
    .center {
        .sub_menu_board {
            background-color: #000;
        }
        .gnb {
            > li {
                &:hover {
                    > a {color: #ff8a28;}
                }
                > a {
                    color: #000;
                }
                .sub_menu {
                    // background-color: #fff;
                    li {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .right {
            > a {
                color: #000;
                font-weight: 500;
                transition: all 0.3s;
                &:hover {
                    background-color: #ff8a28;
                    color: #fff;
                }
            }
            .sns {
                li {
                    a {
                        i {
                            color: #000;
                            &:hover {
                                background-color: #000;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 중간 영역
#container {
    //메인페이지 slide 영역
    .slide_wrap {
        .slide {
            width: 100%;
            overflow: hidden;
            position: relative;
            .view {
                width: 100%; height: 850px;
                display: flex;
                .slide_box {
                    position: absolute; left: 0; top: 0;
                    width: 100%; height: 100%;
                    opacity: 0; z-index: 2;
                    transition: all 0.8s;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center top;
                    &:nth-child(1) {
                        background-image: url("/img/slide1.jpg");
                        opacity: 1; z-index: 3;
                        .text_box { right: 21%; top: 20%;}
                    }
                    &:nth-child(2) {
                        background-image: url("/img/slide2.jpg");
                        .text_box {
                            left: 50%; top: 80px;
                            transform: translateX(-50%);
                        }
                    }
                    &:nth-child(3) {
                        background-image: url("/img/slide3.jpg");
                        .text_box {left: 115px; top: 50px;}
                    }
                    .text_box {
                        position: absolute;
                        font-size: 38px;
                        line-height: 50px;
                    }
                }
            }
            .mouse_icon {
                position: absolute;
                bottom: 0; left: 50%;
                transform: translateX(-50%);
                text-align: center;
                z-index: 5;
                // .material-symbols-outlined {
                //     font-size: 37px;
                // }
                .mouse_wrap {
                    .mouse {
                        position: relative;
                        margin: 0 auto 5px;
                        width: 28px; height: 50px;
                        border-radius: 30px;
                        background-color: rgba(255,255,255,0.1);
                        border: 2px solid #000;
                        .mouse_wheel {
                            position: absolute; left: 50%; top: 5px;
                            transform: translateX(-50%);
                            width: 8px; height: 10px;
                            border-radius: 10px; background-color: #000;
                            // animation: name duration timing-function delay iteration-count direction fill-mode;
                            // animation-name: ani_mouse_wheel;
                            // animation-duration: 3s;
                            // animation-iteration-count: infinite;
                        }
                        // @keyframes ani_mouse_wheel {
                        //     50% {height: 20px;}
                        //     100% {height: 10px;}
                        // }
                    }
                }
                .text {margin-bottom: 12px;}
                .scroll_bar {
                    margin: 0 auto;
                    width: 1px; height: 40px;
                    background-color: #000;
                }
            }
            .slide_btn_set {
                position: absolute;
                left: 35px; top: 50%;
                transform: translateY(-50%);
                z-index: 5;
                .slide_btn {
                    width: 15px; height: 15px;
                    border-radius: 50%;
                    background-color: #000;
                    margin-bottom: 10px;
                    cursor: pointer;
                    &:last-child {margin-bottom: 0;}
                }
                .slide_btn.on {background-color: #fff;}
            }
        }
    }
    //메인페이지 menu_tab 영역
    .menu_tab {
        display: flex; justify-content: center;
        .center {
            width: 100%;
            height: 900px;
            display: flex;
            position: relative;
            > div {width: 50%;}
            .menu_box {
                position: absolute; left: 4.5%; top: 95px;
                z-index: 98;
                background-color: rgba(0,0,0,0.8);
                width: 12%; padding: 2%;
                border-radius: 20px;
                .title {
                    font-size: 60px; padding-bottom: 60px;
                    text-shadow: 1px 2px 6px rgba(0,0,0,0.5);
                    color: #fff;
                }
                .menus {
                    li {
                        margin-bottom: 34px;
                        a {
                            color: #fff; font-size: 23px;
                            transition: all 0.1s;
                            text-shadow: 1px 2px 6px rgba(0,0,0,0.5);
                        }
                        a.on {border-bottom: 2px solid #fff;}
                    }
                }
            }
            .center_img_wrap {
                position: absolute; left: 50%; top: 50%;
                transform: translate(-50%,-50%);
                width: 22%; height: 500px;
                z-index: 97;
                .center_img {
                    position: absolute; left: 0; top: 0;
                    width: 100%; height: 100%;
                    transition: all 0.5s;
                    display: none;
                    border-radius: 50px;
                }
                .center_img.on {display: block;}
            }
            .left {
                position: relative;
                // background-color: orange;
                // width: 100%;
                // height: 100%;
                background-image: url(/img/left_bg.jpg);
                .left_img {
                    position: absolute; left: 0; top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 95;
                    transform: translateX(100%);
                    transition: all 0.5s;
                }
                .left_img.on {transform: translate(0);}
            }
            .right {
                position: relative;
                z-index: 96;
                background-color: #fff;
                .right_box{
                    display: none;
                    padding: 107px 60px 0 240px;
                    box-sizing: border-box;
                    position: absolute; left: 0; top: 0;
                    transition: all 0.5s;
                    .menu_img_wrap {
                        display: flex;
                        .menu_img {
                            width: 31%; height: 190px;
                            margin: 0 2% 130px 0;
                        }
                    }
                    .menu_title {
                        font-size: 25px; margin-bottom: 37px;
                        color: #ff8a28;
                    }
                    .text {
                        font-size: 15px; line-height: 28px;
                        margin-bottom: 80px; font-weight: 500;
                    }
                    .right_bot {
                        .bot_title {
                            font-size: 23px; padding-bottom: 13px;
                            border-bottom: 1px solid red;
                            margin-bottom: 30px;
                        }
                        .bot_box_wrap {
                            display: flex;
                            .bot_box {
                                width: 16%; text-align: center;
                                margin-right: 12px;
                                .menu_bot_img {
                                    display: block; margin: 0 auto 20px;
                                    width: 80px; height: 80px;
                                    border-radius: 50%;
                                }
                                .text {font-size: 16px;}
                            }
                        }
                    }
                }
                .right_box.on {display: block;}      
            }
        }
    }
    //메인페이지 inner 영역
    .inner {
        .inner_top {
            padding: 120px 0;
            background-color: #000;
            color: #fff;
            text-align: center;
            line-height: 60px;font-weight: 600;
            font-size: 50px;
        }
        .inner_mid {
            width: 100%;
            img {width: 100%; height: 740px;}
        }
        .inner_bot {
            padding: 40px 0; background-color: coral;
        }
    }
    //메인페이지 count 영역
    .count {
        display: flex;
        // background-color: bisque;
        background-color: #000;
        color: #fff;
        overflow: hidden;
        > div {width: 50%;}
        .left {
            padding-left: 155px; box-sizing: border-box;
            .title {
                padding: 200px 0 50px;
                font-size: 60px; line-height: 78px;
            }
            .text {
                font-size: 19px; line-height: 28px;
                padding-bottom: 135px;
            }
            .count_wrap {
                padding: 40px 80px;
                box-sizing: border-box;
                border: 1px solid #fff;
                margin-bottom: 50px;
                border-radius: 20px;
                .count_title {
                    font-size: 20px; padding-bottom: 40px;
                }
                .count_box {
                    font-size: 20px; display: flex;
                    > span {
                        position: relative; top: 8px;
                        margin: 0 20px; font-size: 50px;
                    }
                    .count_view {
                        .count_num {
                            font-size: 60px; margin-bottom: 23px;
                            font-weight: 500;
                        }
                        .count_text {
                            text-align: center;
                        }
                    }
                }
            }
            .more {
                display: block;
                // background-color: orangered;
                background-color: #ff8a28;
                width: 195px; line-height: 60px; text-align: center;
                border-radius: 30px; color: #fff;
                font-size: 17px; margin-bottom: 195px;
            }
        }
        .right {
            display: flex; justify-content: flex-end;
            align-items: center; position: relative;
            .big_circle_line {
                position: absolute; top: 15%; right: -40%;
                width: 850px; height: 850px;
                border: 2px dashed #ff8a28;
                box-sizing: border-box;
                border-radius: 50%;
                animation-name: big_circle;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            @keyframes big_circle {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(-360deg);}
            }
            .small_circle_line {
                position: absolute; top: 15%; right: -40%;
                width: 850px; height: 850px;
                // background-color: olivedrab;
                box-sizing: border-box;
                border-radius: 50%;
                animation-name: smaill_circle;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                @keyframes smaill_circle {
                    0% {transform: rotate(0deg);}
                    100% {transform: rotate(360deg);}
                }
                .small_circle {
                    position: absolute;
                    left: 50%; bottom: -12px;
                    width: 25px; height: 25px;
                    border-radius: 50%;
                    background-color: #ff8a28;
                }
            }
            .big_img {
                width: 500px; height: 500px;
                border-radius: 50%; margin-right: 150px;
                z-index: 95;
            }
            .small_img {
                width: 200px; height: 200px;
                border-radius: 50%;
                position: absolute;
                right: 40px; top: 110px
            }
        }
    }
    //메인페이지 notice 영역
    .notice {
        display: flex; justify-content: center;
        .center {
            width: 100%;
            display: flex; justify-content: space-between;
            border-top: 3px solid #000;
            // border-bottom: 3px solid #000;
            > .left {
                width: 40%;
                border-right: 3px solid #000;
            }
            .right {
                width: 60%;
                .notice_box {
                    display: flex; justify-content: space-between;
                    align-items: center;
                    // background-color: #000;
                    background-color: #fff;
                    border-bottom: 3px solid #000;
                    &:last-child {border: none;}
                    .left {
                        padding: 50px 55px;
                        .event {
                            padding-bottom: 15px;
                        }
                        .notice_title {
                            padding-bottom: 25px;
                        }
                        // .event_date {
                        // }
                    }
                    .right {text-align: right;}
                }
            }
        }
    }
    //메뉴페이지
    .clothes_menu_wrap {
        display: flex; justify-content: center;
        background-color: #000;
        .center {
            width: 67%;
            .title {padding: 110px 0 70px; font-size: 50px; color: #fff;} 
            .menu_list {
                display: flex; justify-content: center;
                li {
                    margin: 0 4% 100px; font-size: 24px;
                    position: relative;
                    &::before {
                        content: ""; width: 100%; height: 2px;
                        background-color: #7a7a7a; position: absolute;
                        left: 0; top: -13px;
                    }
                    a {color: #7a7a7a; transition: all 0.2s;}
                }
                li.on {
                    &::before {background-color: #ff8a28;}
                    a {color: #ff8a28;}
                }
            }
            .list_wrap {
                display: flex; flex-wrap: wrap;
                .list_box {
                    width: 21%; margin: 2%;
                    > a {
                        color: #fff;
                        .img_wrap {
                            width: 100%; height: 320px;
                            img {width: 100%; height: 100%; border-radius: 25px;}
                        }
                        .text_box {
                            padding: 12px; box-sizing: border-box;
                            .comp {padding: 2px 0 10px; font-size: 15px;}
                            .name {margin-bottom: 15px; line-height: 21px;}
                            .price_wrap {
                                display: flex; justify-content: space-between;
                                .left {
                                    display: flex;
                                    .sale_price {
                                        margin-right: 12px; font-size: 21px;
                                        span {padding-left: 1px;}
                                    }
                                    .price {
                                        position: relative; top: 4px; color: gray;
                                        &::after {
                                            content: ""; width: 100%; height: 1px;
                                            background-color: gray; position: absolute;
                                            left: 0; top: 9px;
                                        }
                                        span {padding-left: 1px;}
                                    }
                                }
                                .right {
                                    .percent {
                                        color: #ff8a28; position: relative;
                                        top: 4px;
                                        span {padding-left: 1px;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 매장위치 페이지
    .store_map_wrap {
        display: flex; justify-content: center;
        .center {
            width: 67%;
            .title {padding: 110px 0 70px; font-size: 50px;}
            .store_search {
                display: flex; align-items: center;
                justify-content: center;
                margin-bottom: 50px;
                > div {width: 50%;}
                .left {
                    .map_img {width: 100%; height: 800px;}
                //     .map_img {
                //         width: 48%;
                //     }
                //     .mi1, .mi4 {
                //         height: 400px;
                //     }
                //     .mi2, .mi3 {
                //         height: 100px;
                //     }
                }
                .right {
                    padding-left: 50px;
                    .store_addr_search_wrap, .store_name_search_wrap {
                        font-size: 20px;
                        > p {padding-bottom: 20px;}
                        #store_addr_search, #store_name_search {
                            > select {
                                width: 140px; height: 35px;
                                border-radius: 10px; padding-left: 5px;
                                margin-bottom: 50px;
                                &:first-child {margin-right: 8px;}
                            }
                            > input {
                                width: 288px; height: 35px;
                                border-radius: 10px; padding-left: 5px;
                                border: 1px solid #000;
                            }
                            #addr_search_btn,#name_search_btn {
                                width: 35px; line-height: 35px;
                                background-color: orange;
                                border: none; border-radius: 10px;
                                cursor: pointer;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            .store_map_list {
                padding-bottom: 300px;
                .h_line {
                    display: flex;
                    border-top: 2px solid red;
                    border-bottom: 2px solid red;
                }
                .line {
                    display: flex;
                    // background-color: salmon;
                    border-bottom: 1px solid red;
                }
                .h_line,.line {
                    line-height: 50px;
                    text-align: center;
                    .name {width: 20%;}
                    .addr {width: 50%;}
                    .tell {width: 30%;}
                }
            }
        }
    }
}

// 관리자 상품관리페이지
#admin_prd_page {
    .prd_list_wrap {
        display: flex; flex-wrap: wrap;
        .prd_box {
            width: 17%; margin: 1%;
            border: 1px solid orangered;
            img {width: 100%; height: 300px;}
        }
    }
    > form {margin: 50px 0;}
}

// 관리자 매장관리페이지
#admin_store_page {
    .store_list_wrap {
        border: 1px solid red;
        margin-bottom: 50px;
        .store_list {
            border: 1px solid olivedrab;
            margin-bottom: 10px;
            &:last-child {margin-bottom: 0;}
        }
    }
    #store_form {
        input {display: block; margin-bottom: 30px;}
        #sample6_detailAddress,#sample6_extraAddress {display: none;}
    }
}

// 하단 영역
#footer {
    display: flex; justify-content: center;
    background-color: #000;
    color: #fff;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    .center {
        text-align: center;
        .f_logo {
            padding: 80px 0 40px;
            img {width: 150px; height: 30px;}
        }
        .f_sns {
            display: flex; justify-content: center;
            li {
                margin: 0 10px 30px; font-size: 27px;
                a {
                    color: #fff;
                    i {
                        width: 50px; line-height: 50px;
                        text-align: center;
                        border-radius: 50%;
                        transition: all 0.3s;
                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }
        }
        > a {
            display: block; color: #fff;
            font-weight: 600; margin-bottom: 40px;
        }
        .info {
            text-align: center;
            .wrap {
                p {display: inline;}
                .wrap_930 {display: inline;}
                &:first-child {margin-bottom: 5px;}
            }
            .bar {
                &::after {
                    content: ""; display: inline-block;
                    width: 1px; height: 14px;
                    background-color: #fff;
                    position: relative;
                    left: 3px; top: 1px;
                    margin: 0 6px;
                }
            }
        }
        .copy {
            padding: 20px 0 75px;
        }
    }
}

//메인 페이지 제외한 나머지 서브페이지의 상단영역
#footer.white_ver {
    background-color: #fff;
    color: #000;
    border-top: 1px solid #000;
    .center {
        text-align: center;
        // .f_logo {
        // }
        .f_sns {
            li {
                a {
                    color: #000;
                    i {
                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }
        > a {color: #000;}
        .info {
            .bar {
                &::after {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}