* {margin: 0; padding: 0;}
html,body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    line-height: 1;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    //스크롤바 전체
    &::-webkit-scrollbar {background-color: #f1f1f1; border-radius: 10px;}
    //스크롤바 막대
    &::-webkit-scrollbar-thumb {
        background-color: #000; border-radius: 10px;
        border: 4px solid #f1f1f1;
    }
}
address {font-style: normal;}
ul,ol,li {list-style: none;}
a {text-decoration: none; color: #fff;}
img,video {vertical-align: middle;}
table {border-collapse: collapse;}
input,select,textarea {outline: 0;}
textarea {resize: none;}