<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑몰의 시작 ANYTHING</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 파비콘 -->
    <link rel="icon" href="/favicon/favicon.png">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단 영역 -->
    <%- include("common/header.ejs",{change:"main", logo:"logo_white.png"}); %>
    <!-- 중간 영역 -->
    <main id="container">
        <!-- slide 영역 -->
        <section class="slide_wrap">
            <div class="slide">
                <div class="view">
                    <div class="slide_box">
                        <h2 class="text_box"><a href="#">22FW AUTUMN-WINTER<br>COLLECTION</a></h2>
                    </div>
                    <div class="slide_box">
                        <a href="#">
                            <h2 class="text_box">우리가 함께하는 공간<br>너만의 스타일을 펼쳐봐</h2>
                            <p class="sub_title">너만의 스타일을 펼쳐봐</p>
                        </a>
                    </div>
                    <div class="slide_box">
                        <h2 class="text_box"><a href="#">Anything<br>Sports Club</a></h2>
                    </div>
                </div>
                <div class="mouse_icon">
                    <div class="mouse_wrap">
                        <div class="mouse">
                            <div class="mouse_wheel"></div>
                        </div>
                    </div>
                    <p class="text">scroll</p>
                    <div class="scroll_bar"></div>
                </div>
                <ul class="slide_btn_set">
                    <li class="slide_btn on"><a href="#"></a></li>
                    <li class="slide_btn"><a href="#"></a></li>
                    <li class="slide_btn"><a href="#"></a></li>
                </ul>
            </div>
        </section>
        <!-- menu_tab 영역 -->
        <section class="menu_tab">
            <div class="center">
                <div class="menu_box">
                    <h2 class="title">매거진</h2>
                    <ul class="menus">
                        <li><a class="on" href="#">MLB</a></li>
                        <li><a href="#">LEE</a></li>
                        <li><a href="#">COVERNAT</a></li>
                        <li><a href="#">YALE</a></li>
                    </ul>
                </div>
                <figure class="center_img_wrap">
                    <!-- on 기능 -->
                    <img class="center_img on" src="/img/center_img1.jpg" alt="MLB 가방">
                    <img class="center_img" src="/img/center_img2.jpg" alt="Lee 가방">
                    <img class="center_img" src="/img/center_img3.jpg" alt="Covernat 가방">
                    <img class="center_img" src="/img/center_img4.jpg" alt="Yale 가방">
                </figure>
                <!-- on 기능 -->
                <figure class="left">
                    <!-- left바탕 -->
                    <div class="left_bg"></div>
                    <img class="left_img on" src="/img/tab_img1.jpg" alt="MLB">
                    <img class="left_img" src="/img/tab_img2.jpg" alt="LEE">
                    <img class="left_img" src="/img/tab_img3.jpg" alt="COVERNAT">
                    <img class="left_img" src="/img/tab_img4.jpg" alt="YALE">
                </figure>
                <div class="right">
                    <!-- on 기능 -->
                    <div class="right_box on">
                        <h3 class="menu_title">MLB</h3>
                        <p class="text">Young Generation의 패션 아이콘<br>스트릿 캐주얼 브랜드</p>
                        <figure class="menu_img_wrap">
                            <img class="menu_img" src="/img/menu_img1-1.jpg" alt="MLB 모델">
                            <img class="menu_img" src="/img/menu_img1-2.jpg" alt="MLB 모델">
                            <img class="menu_img" src="/img/menu_img1-3.jpg" alt="MLB 모델">
                        </figure>
                        <div class="right_bot">
                            <p class="bot_title">믹스 매치 아이템</p>
                            <div class="bot_box_wrap">
                                <figure class="bot_box">
                                    <img class="menu_bot_img" src="/img/menu_bot_img1-1.jpg" alt="뉴젤리비니">
                                    <figcaption class="text">뉴젤리비니</figcaption>
                                </figure>
                                <figure class="bot_box">
                                    <img class="menu_bot_img" src="/img//menu_bot_img1-2.jpg" alt="청키 라이너">
                                    <figcaption class="text">청키 라이너</figcaption>
                                </figure>
                                <figure class="bot_box">
                                    <img class="menu_bot_img" src="/img//menu_bot_img1-3.jpg" alt="링잉 로고">
                                    <figcaption class="text">링잉 로고</figcaption>
                                </figure>
                                <figure class="bot_box">
                                    <img class="menu_bot_img" src="/img//menu_bot_img1-4.jpg" alt="벨벳 크롭">
                                    <figcaption class="text">벨벳 크롭</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="right_box">
                        <h3 class="menu_title">LEE</h3>
                        <p class="text">전통적으로 견고함과 실용성을 강조한<br>130년 역사를 지닌 브랜드</p>
                        <figure class="menu_img_wrap">
                            <img class="menu_img" src="/img/menu_img2-1.jpg" alt="LEE 모델">
                            <img class="menu_img" src="/img/menu_img2-2.jpg" alt="LEE 모델">
                            <img class="menu_img" src="/img/menu_img2-3.jpg" alt="LEE 모델">
                        </figure>
                        <div class="right_bot">
                            <p class="bot_title">믹스 매치 아이템</p>
                            <div class="bot_box_wrap">
                                <figure class="bot_box">
                                    <img class="menu_bot_img" src="/img/menu_bot_img2-1.jpg" alt="바라클라바">
                                    <figcaption class="text">바라클라바</figcaption>
                                </figure>
                                <figure class="bot_box">
                                    <img class="menu_bot_img" src="/img/menu_bot_img2-2.jpg" alt="로고 랩탑">
                                    <figcaption class="text">로고 랩탑</figcaption>
                                </figure>
                                <figure class="bot_box">
                                    <img class="menu_bot_img" src="/img/menu_bot_img2-3.jpg" alt="트위치 로고">
                                    <figcaption class="text">트위치 로고</figcaption>
                                </figure>
                                <figure class="bot_box">
                                    <img class="menu_bot_img" src="/img/menu_bot_img2-4.jpg" alt="코듀로이">
                                    <figcaption class="text">코듀로이</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="right_box">
                        <h3 class="menu_title">COVERNAT</h3>
                        <p class="text">빈티지웨어에서 얻은 모티브를 현대적인 소재와<br>룩으로 푸는 컨템퍼러리 브랜드</p>
                        <figure class="menu_img_wrap">
                            <img class="menu_img covernat" src="/img/menu_img3-1.jpg" alt="COVERNAT 모델">
                            <img class="menu_img covernat" src="/img/menu_img3-2.jpg" alt="COVERNAT 모델">
                            <img class="menu_img covernat" src="/img/menu_img3-3.jpg" alt="COVERNAT 모델">
                        </figure>
                        <div class="right_bot">
                            <p class="bot_title">믹스 매치 아이템</p>
                            <div class="bot_box_wrap">
                                <figure class="bot_box covernat">
                                    <img class="menu_bot_img" src="/img/menu_bot_img3-1.jpg" alt="로고 체인">
                                    <figcaption class="text">로고 체인</figcaption>
                                </figure>
                                <figure class="bot_box covernat">
                                    <img class="menu_bot_img" src="/img/menu_bot_img3-2.jpg" alt="워치 스트랩">
                                    <figcaption class="text">워치 스트랩</figcaption>
                                </figure>
                                <figure class="bot_box covernat">
                                    <img class="menu_bot_img" src="/img/menu_bot_img3-3.jpg" alt="코듀로이">
                                    <figcaption class="text">코듀로이</figcaption>
                                </figure>
                                <figure class="bot_box covernat">
                                    <img class="menu_bot_img" src="/img/menu_bot_img3-4.jpg" alt="시어링 미니">
                                    <figcaption class="text">시어링 미니</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="right_box">
                        <h3 class="menu_title">YALE</h3>
                        <p class="text">미국 명문 사립대학의 시그니처 패션을<br>선보이는 빈티지웨어 브랜드</p>
                        <figure class="menu_img_wrap">
                            <img class="menu_img" src="/img/menu_img4-1.jpg" alt="YALE 모델">
                            <img class="menu_img" src="/img/menu_img4-2.jpg" alt="YALE 모델">
                            <img class="menu_img" src="/img/menu_img4-3.jpg" alt="YALE 모델">
                        </figure>
                        <div class="right_bot">
                            <p class="bot_title">믹스 매치 아이템</p>
                            <div class="bot_box_wrap">
                                <figure class="bot_box yale">
                                    <img class="menu_bot_img" src="/img/menu_bot_img4-1.jpg" alt="커블 니트">
                                    <figcaption class="text">커블 니트</figcaption>
                                </figure>
                                <figure class="bot_box yale">
                                    <img class="menu_bot_img" src="/img/menu_bot_img4-2.jpg" alt="멀티 파우치">
                                    <figcaption class="text">멀티 파우치</figcaption>
                                </figure>
                                <figure class="bot_box yale">
                                    <img class="menu_bot_img" src="/img/menu_bot_img4-3.jpg" alt="톤 로고">
                                    <figcaption class="text">톤 로고</figcaption>
                                </figure>
                                <figure class="bot_box yale">
                                    <img class="menu_bot_img" src="/img/menu_bot_img4-4.jpg" alt="코튼 커블">
                                    <figcaption class="text">코튼 커블</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- inner 영역 -->
        <section class="inner">
            <h2>쇼핑은 언제나 즐거운 시간</h2>
            <div class="inner_top">
                <span>쇼</span>
                <span>핑</span>
                <span class="mg">은</span>
                <span>언</span>
                <span>제</span>
                <span class="mg">나</span>
                <span>즐</span>
                <span>거</span>
                <span class="mg">운</span>
                <span>시</span>
                <span>간</span>
                <!-- 쇼핑은 언제나 즐거운 시간 -->
            </div>
            <figure class="inner_mid">
                <img src="/img/inner_mid_img.jpg" alt="쇼핑몰 내부">
            </figure>
        </section>
        <!-- count 영역 -->
        <section class="count">
            <div class="left">
                <h2 class="title">무엇이든 쇼핑몰<br>블랙프라이데이</h2>
                <p class="text">
                    최대 80%까지 세일하는 파격적인 세일기간이 시작되었습니다!<br>
                    이 기간동안의 수익은 전액 기부됩니다.
                </p>
                <div class="count_wrap">
                    <p class="count_title">남은 시간</p>
                    <div class="count_box">
                        <div class="count_view">
                            <p class="count_num">00</p>
                            <p class="count_text">일</p>
                        </div>
                        <span>:</span>
                        <div class="count_view">
                            <p class="count_num">00</p>
                            <p class="count_text">시</p>
                        </div>
                        <span>:</span>
                        <div class="count_view">
                            <p class="count_num">00</p>
                            <p class="count_text">분</p>
                        </div>
                        <span>:</span>
                        <div class="count_view">
                            <p class="count_num">00</p>
                            <p class="count_text">초</p>
                        </div>
                    </div>
                </div>
                <a class="more" href="#">쇼핑하러가기</a>
            </div>
            <div class="right">
                <div class="big_circle_line"></div>
                <div class="small_circle_line">
                    <div class="small_circle"></div>
                </div>
                <img class="big_img" src="/img/count_img1.jpg" alt="쇼핑몰 모델1">
                <img class="small_img" src="/img/count_img2.jpg" alt="쇼핑몰 모델2">
            </div>
        </section>
        <!-- notice 영역 -->
        <section class="notice">
            <div class="center">
                <div class="left">
                    <div class="title">
                        <h2 class="text">style&</h2>
                        <h2 class="text">life</h2>
                    </div>
                </div>
                <div class="right">
                    <article class="notice_box">
                        <div class="left">
                            <p class="event">event</p>
                            <h3 class="notice_title"><a href="/life">[new event] 블랙프라이데이 기간 최소 30% ~</a></h3>
                            <p class="event_date">2022.11.22 ~ 2022.12.31</p>
                        </div>
                        <div class="right">
                            <a href="/life"><i class="fa-solid fa-angles-right"></i></a>
                        </div>
                        <div class="hover_img">
                            <img src="/img/life_img2.jpg" alt="이벤트">
                        </div>
                    </article>
                    <article class="notice_box">
                        <div class="left">
                            <p class="event">life</p>
                            <h3 class="notice_title"><a href="/life">[new life] ANYTHING 신규 가구 런칭 기념</a></h3>
                            <p class="event_date">2022.11.21 ~ 2022.11.31</p>
                        </div>
                        <div class="right">
                            <a href="/life"><i class="fa-solid fa-angles-right"></i></a>
                        </div>
                        <div class="hover_img">
                            <img src="/img/life_img3.jpg" alt="라이프">
                        </div>
                    </article>
                    <article class="notice_box">
                        <div class="left">
                            <p class="event">fashion</p>
                            <h3 class="notice_title"><a href="/life">[new fashion] 끊이지 않는 스니커즈의 인기!</a></h3>
                            <p class="event_date">2022.11.12 ~ 2022.12.21</p>
                        </div>
                        <div class="right">
                            <a href="/life"><i class="fa-solid fa-angles-right"></i></a>
                        </div>
                        <div class="hover_img">
                            <img src="/img/life_img1.jpg" alt="패션">
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- rolling 영역 -->
        <section class="rolling">
            <h2 class="title">스타일링</h2>
            <div class="rolling_wrap">
                <div class="rolling_img_box">
                    <div class="img_wrap">
                        <img class="rolling_img" src="/img/rolling_img1.jpg" alt="(22FW) WARM+ UP QUILTING JACKET IVORY">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[예일]</p>
                                <p class="clothes_name">(22FW) WARM+ UP QUILTING JACKET IVORY</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <img class="rolling_img" src="/img/rolling_img2.jpg" alt="3M 신슐레이트 퀼팅자켓 블랙 FPJ201">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[플루크]</p>
                                <p class="clothes_name">3M 신슐레이트 퀼팅자켓 블랙 FPJ201</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <img class="rolling_img" src="/img/rolling_img3.jpg" alt="RDS 커버라이트 카라리스 다운 점퍼 블랙">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[커버낫]</p>
                                <p class="clothes_name">RDS 커버라이트 카라리스 다운 점퍼 블랙</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <img class="rolling_img" src="/img/rolling_img4.jpg" alt="3M 신슐레이트 보아 플리스 무톤 자켓 베이지">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[파르티멘토]</p>
                                <p class="clothes_name">3M 신슐레이트 보아 플리스 무톤 자켓 베이지</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <img class="rolling_img" src="/img/rolling_img5.jpg" alt="MA-1 레귤러 Black">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[알파 인더스트리]</p>
                                <p class="clothes_name">MA-1 레귤러 Black</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <img class="rolling_img" src="/img/rolling_img6.jpg" alt="헤비 보아 플리스 무톤 자켓">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[코드그라피]</p>
                                <p class="clothes_name">헤비 보아 플리스 무톤 자켓</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <img class="rolling_img" src="/img/rolling_img7.jpg" alt="트위치로고 폴라플리스 집업자켓">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[리]</p>
                                <p class="clothes_name">트위치로고 폴라플리스 집업자켓</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img_wrap">
                        <img class="rolling_img" src="/img/rolling_img8.jpg" alt="투웨이 블루종 스웨이드 밴딩 점퍼 자켓">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[플레이스 스튜디오]</p>
                                <p class="clothes_name">투웨이 블루종 스웨이드 밴딩 점퍼 자켓</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- clone -->
                    <div class="clone">
                        <img class="rolling_img" src="/img/rolling_img1.jpg" alt="(22FW) WARM+ UP QUILTING JACKET IVORY">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[예일]</p>
                                <p class="clothes_name">(22FW) WARM+ UP QUILTING JACKET IVORY</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clone">
                        <img class="rolling_img" src="/img/rolling_img2.jpg" alt="3M 신슐레이트 퀼팅자켓 블랙 FPJ201">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[플루크]</p>
                                <p class="clothes_name">3M 신슐레이트 퀼팅자켓 블랙 FPJ201</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clone">
                        <img class="rolling_img" src="/img/rolling_img3.jpg" alt="RDS 커버라이트 카라리스 다운 점퍼 블랙">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[커버낫]</p>
                                <p class="clothes_name">RDS 커버라이트 카라리스 다운 점퍼 블랙</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clone">
                        <img class="rolling_img" src="/img/rolling_img4.jpg" alt="3M 신슐레이트 보아 플리스 무톤 자켓 베이지">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[파르티멘토]</p>
                                <p class="clothes_name">3M 신슐레이트 보아 플리스 무톤 자켓 베이지</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clone">
                        <img class="rolling_img" src="/img/rolling_img5.jpg" alt="MA-1 레귤러 Black">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[알파 인더스트리]</p>
                                <p class="clothes_name">MA-1 레귤러 Black</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clone">
                        <img class="rolling_img" src="/img/rolling_img6.jpg" alt="헤비 보아 플리스 무톤 자켓">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[코드그라피]</p>
                                <p class="clothes_name">헤비 보아 플리스 무톤 자켓</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clone">
                        <img class="rolling_img" src="/img/rolling_img7.jpg" alt="트위치로고 폴라플리스 집업자켓">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[리]</p>
                                <p class="clothes_name">트위치로고 폴라플리스 집업자켓</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clone">
                        <img class="rolling_img" src="/img/rolling_img8.jpg" alt="투웨이 블루종 스웨이드 밴딩 점퍼 자켓">
                        <div class="hover_bg">
                            <a href="#">
                                <p class="comp_name">[플레이스 스튜디오]</p>
                                <p class="clothes_name">투웨이 블루종 스웨이드 밴딩 점퍼 자켓</p>
                                <i class="fa-regular fa-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- carousel 영역 -->
        <section class="carousel">
            <h2 class="title">오늘의 패션</h2>
            <div class="center">
                <div class="carousel_wrap">
                    <div class="carousel_box">
                        <div class="carousel_img">
                            <img src="/img/carousel_img1.jpg" alt="Hoody Trench Coat SW2AR705-93">
                            <div class="info_text">
                                <a href="#">
                                    <p class="text">[착용] Hoody Trench Coat SW2AR705-93</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel_img">
                            <img src="/img/carousel_img2.jpg" alt="RDS 커버라이트 카라리스 다운 점퍼 블랙">
                            <div class="info_text">
                                <a href="#">
                                    <p class="text">[착용] RDS 커버라이트 카라리스 다운 점퍼 블랙</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel_img">
                            <img src="/img/carousel_img3.jpg" alt="COLLEGE LOGO HOODIE GREY(MG2BSMM401A)">
                            <div class="info_text">
                                <a href="#">
                                    <p class="text">[착용] COLLEGE LOGO HOODIE GREY(MG2BSMM401A)</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel_img">
                            <img src="/img/carousel_img4.jpg" alt="리버시블 쉐르파 집업 자켓 아이보리">
                            <div class="info_text">
                                <a href="#">
                                    <p class="text">[착용] 리버시블 쉐르파 집업 자켓 아이보리</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel_img">
                            <img src="/img/carousel_img5.jpg" alt="컵스카우트 카라 맨투맨 코코아 JIMT7619">
                            <div class="info_text">
                                <a href="#">
                                    <p class="text">[착용] 컵스카우트 카라 맨투맨 코코아 JIMT7619</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel_img">
                            <img src="/img/carousel_img6.jpg" alt="BIG LOGO HOODIE RED">
                            <div class="info_text">
                                <a href="#">
                                    <p class="text">[착용] BIG LOGO HOODIE RED</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel_img">
                            <img src="/img/carousel_img7.jpg" alt="Arch-Logo Hoodie Natural">
                            <div class="info_text">
                                <a href="#">
                                    <p class="text">[착용] Arch-Logo Hoodie Natural</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel_img">
                            <img src="/img/carousel_img8.jpg" alt="피치스킨 트윌 자켓 블랙">
                            <div class="info_text">
                                <a href="#">
                                    <p class="text">[착용] 피치스킨 트윌 자켓 블랙</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel_btn_set">
                        <div class="prev_btn"><i class="fa-solid fa-chevron-left"></i></div>
                        <div class="next_btn"><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- 하단 영역 -->
    <%- include("common/footer.ejs",{change:"black_ver", logo:"logo_white.png"}); %>
    <!-- 맨 위로 가는 태그영역 -->
    <%- include("common/go_top.ejs") %>
    <!-- js -->
    <script src="/js/slide_fade.js"></script>
    <script src="/js/mouse_wheel.js"></script>
    <script src="/js/main_menu_tab.js"></script>
    <script src="/js/scroll_event.js"></script>
    <script src="/js/count_down.js"></script>
    <script src="/js/carousel.js"></script>
</body>
</html>