<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단 영역 -->
    <%- include("common/header.ejs"); %>
    <!-- 중간 영역 -->
    <div id="container">
        <!-- slide 영역 -->
        <div class="slide_wrap">
            <div class="slide">
                <div class="view">
                    <div class="slide_box">
                        <div class="text_box">
                            슬라이드 텍스트입니다<br>
                            슬라이드 텍스트입니다<br>
                            슬라이드 텍스트입니다
                        </div>
                    </div>
                    <div class="slide_box">
                        <div class="text_box">
                            슬라이드 텍스트입니다2<br>
                            슬라이드 텍스트입니다2<br>
                            슬라이드 텍스트입니다2
                        </div>
                    </div>
                    <div class="slide_box">
                        <div class="text_box">
                            슬라이드 텍스트입니다3<br>
                            슬라이드 텍스트입니다3<br>
                            슬라이드 텍스트입니다3
                        </div>
                    </div>
                </div>
                <div class="mouse_icon">
                    <span class="material-symbols-outlined">mouse</span>
                    <p class="text">scroll</p>
                    <div class="scroll_bar"></div>
                </div>
                <div class="slide_btn_set">
                    <a href=""><div class="slide_btn"></div></a>
                    <a href=""><div class="slide_btn"></div></a>
                    <a href=""><div class="slide_btn"></div></a>
                </div>
            </div>
        </div>
        <!-- menu_tab 영역 -->
        <div class="menu_tab">
            <div class="center">
                <div class="menu_box">
                    <h2 class="title">인기 많은 브랜드</h2>
                    <ul class="menus">
                        <li><a class="on" href="#">MLB</a></li>
                        <li><a href="#">LEE</a></li>
                        <li><a href="#">COVERNAT</a></li>
                        <li><a href="#">YALE</a></li>
                    </ul>
                </div>
                <div class="center_img_wrap">
                    <!-- on 기능 -->
                    <img class="center_img on" src="/img/tab_img1.jpg" alt="">
                    <img class="center_img" src="/img/tab_img2.jpg" alt="">
                    <img class="center_img" src="/img/tab_img3.jpg" alt="">
                    <img class="center_img" src="/img/tab_img1.jpg" alt="">
                </div>
                <!-- on 기능 -->
                <div class="left">
                    <!-- left바탕 -->
                    <div class="left_bg"></div>
                    <img class="left_img on" src="/img/tab_img1.jpg" alt="">
                    <img class="left_img" src="/img/tab_img2.jpg" alt="">
                    <img class="left_img" src="/img/tab_img3.jpg" alt="">
                    <img class="left_img" src="/img/tab_img4.jpg" alt="">
                </div>
                <div class="right">
                    <!-- on 기능 -->
                    <div class="right_box on">
                        <h3 class="menu_title">메뉴1</h3>
                        <p class="text">설명란 텍스트 공간입니다.<br>텍스트 공간입니다.</p>
                        <div class="menu_img_wrap">
                            <img class="menu_img" src="/img/test1.jpg" alt="">
                            <img class="menu_img" src="/img/test2.jpg" alt="">
                            <img class="menu_img" src="/img/test3.jpg" alt="">
                        </div>
                        <div class="right_bot">
                            <p class="bot_title">텍스트 공간입니다.</p>
                            <div class="bot_box_wrap">
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트1</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트2</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트3</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_box">
                        <h3 class="menu_title">메뉴2</h3>
                        <p class="text">설명란 텍스트 공간입니다.<br>텍스트 공간입니다.</p>
                        <div class="menu_img_wrap">
                            <img class="menu_img" src="/img/test1.jpg" alt="">
                            <img class="menu_img" src="/img/test2.jpg" alt="">
                            <img class="menu_img" src="/img/test3.jpg" alt="">
                        </div>
                        <div class="right_bot">
                            <p class="bot_title">텍스트 공간입니다.</p>
                            <div class="bot_box_wrap">
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트1</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트2</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트3</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_box">
                        <h3 class="menu_title">메뉴3</h3>
                        <p class="text">설명란 텍스트 공간입니다.<br>텍스트 공간입니다.</p>
                        <div class="menu_img_wrap">
                            <img class="menu_img" src="/img/test1.jpg" alt="">
                            <img class="menu_img" src="/img/test2.jpg" alt="">
                            <img class="menu_img" src="/img/test3.jpg" alt="">
                        </div>
                        <div class="right_bot">
                            <p class="bot_title">텍스트 공간입니다.</p>
                            <div class="bot_box_wrap">
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트1</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트2</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트3</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_box">
                        <h3 class="menu_title">메뉴4</h3>
                        <p class="text">설명란 텍스트 공간입니다.<br>텍스트 공간입니다.</p>
                        <div class="menu_img_wrap">
                            <img class="menu_img" src="/img/test1.jpg" alt="">
                            <img class="menu_img" src="/img/test2.jpg" alt="">
                            <img class="menu_img" src="/img/test3.jpg" alt="">
                        </div>
                        <div class="right_bot">
                            <p class="bot_title">텍스트 공간입니다.</p>
                            <div class="bot_box_wrap">
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트1</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트2</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트3</p>
                                </div>
                                <div class="bot_box">
                                    <img class="menu_bot_img" src="/img/test1.jpg" alt="">
                                    <p class="text">텍스트4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- inner 영역 -->
        <div class="inner">
            <div class="inner_top">
                첫번째 문단<br>
                두번째 문단
            </div>
            <div class="inner_mid">
                <img src="/img/test1.jpg" alt="">
            </div>
            <div class="inner_bot">
                자동으로 흘러가는 띠
            </div>
        </div>
        <!-- count 영역 -->
        <div class="count">
            <div class="left">
                <h2 class="title">어쩌구 쇼핑몰<br>블랙프라이데이</h2>
                <p class="text">
                    최대 80%까지 세일하는 파격적인 세일기간이 시작되었습니다!<br>
                    이 기간동안의 수익은 전액 기부됩니다.
                </p>
                <div class="count_wrap">
                    <p class="count_title">남은 시간</p>
                    <div class="count_box">
                        <div class="count_view">
                            <!-- <p class="count_text">일</p> -->
                            <p class="count_num">00</p>
                        </div>
                        <span>:</span>
                        <div class="count_view">
                            <!-- <p class="count_text">시</p> -->
                            <p class="count_num">00</p>
                        </div>
                        <span>:</span>
                        <div class="count_view">
                            <!-- <p class="count_text">분</p> -->
                            <p class="count_num">00</p>
                        </div>
                        <span>:</span>
                        <div class="count_view">
                            <!-- <p class="count_text">초</p> -->
                            <p class="count_num">00</p>
                        </div>
                    </div>
                </div>
                <a class="more" href="#">쇼핑하러가기</a>
            </div>
            <div class="right">
                <div class="big_circle_line"></div>
                <div class="small_circle_line">
                    <div class="small_circle"></div>
                </div>
                <img class="big_img" src="/img/test1.jpg" alt="">
                <img class="small_img" src="/img/test2.jpg" alt="">
            </div>
        </div>
        <div class="notice">
            <div class="center">
                <div class="left">
                    <h2 class="title">
                        notice
                    </h2>
                </div>
                <div class="right">
                    <div class="notice_box">
                        <div class="left">
                            <p class="event">event</p>
                            <h3 class="notice_title">[new event] 오늘의 새로운 이벤트1</h3>
                            <p class="event_date">2022.11.11 ~ 2022.11.31</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-angles-right"></i>
                        </div>
                    </div>
                    <div class="notice_box">
                        <div class="left">
                            <p class="event">event</p>
                            <h3 class="notice_title">[new event] 오늘의 새로운 이벤트1</h3>
                            <p class="event_date">2022.11.11 ~ 2022.11.31</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-angles-right"></i>
                        </div>
                    </div>
                    <div class="notice_box">
                        <div class="left">
                            <p class="event">event</p>
                            <h3 class="notice_title">[new event] 오늘의 새로운 이벤트1</h3>
                            <p class="event_date">2022.11.11 ~ 2022.11.31</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-angles-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 하단 영역 -->
    <%- include("common/footer.ejs"); %>
    <!-- js -->
    <script src="/js/main_menu_tab.js"></script>
    <script src="/js/count_down.js"></script>
</body>
</html>