<h2 class="title">메뉴</h2>
<ul class="menu_list">
    <li class="on"><a href="/menu/top">상의</a></li>
    <li><a href="/menu/outer">아우터</a></li>
    <li><a href="/menu/bottom">하의</a></li>
    <li><a href="/menu/shoes">신발</a></li>
    <li><a href="/menu/cap">모자</a></li>
</ul>
<script src="/js/sub_menu_list.js"></script>