* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

input, select, textarea {
  outline: 0;
}

textarea {
  resize: none;
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}
body::-webkit-scrollbar {
  background-color: #f1f1f1;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  border: 4px solid #f1f1f1;
}

#header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 99;
  background-color: #000;
  box-sizing: border-box;
}
#header .center {
  width: 91%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#header .center .logo a img {
  width: 180px;
  height: 35px;
}
#header .center .gnb_wrap .sub_menu_board {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 0;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}
#header .center .gnb_wrap .gnb {
  display: flex;
  margin-left: 90px;
}
#header .center .gnb_wrap .gnb > li {
  line-height: 100px;
  position: relative;
}
#header .center .gnb_wrap .gnb > li:hover > a {
  color: #ff8a28;
}
#header .center .gnb_wrap .gnb > li > a {
  color: #fff;
  width: 230px;
  display: block;
  text-align: center;
  transition: all 0.3s;
  font-size: 17px;
  font-weight: 600;
}
#header .center .gnb_wrap .gnb > li .sub_menu {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
#header .center .gnb_wrap .gnb > li .sub_menu li {
  line-height: 50px;
}
#header .center .gnb_wrap .gnb > li .sub_menu li:nth-child(1) {
  padding-top: 10px;
}
#header .center .gnb_wrap .gnb > li .sub_menu li a {
  color: #000;
  transition: all 0.5s;
}
#header .center .gnb_wrap .gnb > li .sub_menu li a:hover {
  font-weight: bold;
}
#header .center .right {
  display: flex;
  align-items: center;
}
#header .center .right > a {
  display: block;
  color: #fff;
  width: 140px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #ff8a28;
  border-radius: 20px;
}
#header .center .right > a:hover {
  background-color: #fff;
  border: 3px solid #ff8a28;
  color: #000;
  font-weight: 500;
}
#header .center .right .sns {
  display: flex;
  margin-left: 35px;
}
#header .center .right .sns li {
  font-size: 25px;
  margin: 0 2px;
}
#header .center .right .sns li a i {
  color: #fff;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
}
#header .center .right .sns li a i:hover {
  background-color: #fff;
  color: #000;
}
#header .center .mobile_menu {
  display: none;
  width: 35px;
  cursor: pointer;
}
#header .center .mobile_menu .bar {
  width: 100%;
  height: 2px;
  margin: 8px 0;
  background-color: #fff;
  transition: all 0.5s;
}
#header .center .mobile_menu.close .bar {
  position: relative;
}
#header .center .mobile_menu.close .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
#header .center .mobile_menu.close .bar:nth-child(2) {
  transform: translate(50px);
  opacity: 0;
}
#header .center .mobile_menu.close .bar:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 10px;
}
#header .center .mobile_board {
  width: 500px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -130%;
  background-color: #000;
  transition: all 0.5s;
}
#header .center .mobile_board .close_btn {
  padding: 30px 0 50px 430px;
  width: 35px;
  position: relative;
}
#header .center .mobile_board .close_btn .wrap {
  height: 20px;
  cursor: pointer;
}
#header .center .mobile_board .close_btn .wrap .bar {
  width: 100%;
  height: 2px;
  margin: 8px 0;
  background-color: #fff;
  position: relative;
}
#header .center .mobile_board .close_btn .wrap .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 5px;
}
#header .center .mobile_board .close_btn .wrap .bar:nth-child(2) {
  transform: rotate(-45deg);
  bottom: 5px;
}
#header .center .mobile_board .mobile_gnb > li {
  width: 80%;
  padding-left: 30px;
  margin-bottom: 50px;
}
#header .center .mobile_board .mobile_gnb > li > a {
  color: #fff;
  font-size: 22px;
}
#header .center .mobile_board .mobile_gnb > li > a i {
  margin-left: 5px;
}
#header .center .mobile_board .mobile_gnb > li .mobile_sub_menu {
  height: 0;
  overflow-y: scroll;
  transition: all 0.5s;
  margin-top: 28px;
  background-color: #fff;
}
#header .center .mobile_board .mobile_gnb > li .mobile_sub_menu li {
  line-height: 55px;
  padding-left: 12px;
}
#header .center .mobile_board .mobile_gnb > li .mobile_sub_menu li a {
  color: #000;
  font-weight: 500;
}
#header .center .mobile_board .sns {
  display: flex;
  padding-left: 20px;
  margin-bottom: 40px;
}
#header .center .mobile_board .sns li {
  font-size: 25px;
  margin: 0 2px;
}
#header .center .mobile_board .sns li a i {
  color: #fff;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
}
#header .center .mobile_board .sns li a i:hover {
  background-color: #fff;
  color: #000;
}
#header .center .mobile_board > a {
  display: block;
  margin-left: 30px;
  color: #fff;
  width: 140px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #ff8a28;
  border-radius: 20px;
}
#header .center .mobile_board > a:hover {
  background-color: #fff;
  border: 3px solid #ff8a28;
  color: #000;
  font-weight: 500;
}

#header.notmain {
  background-color: #fff;
  border-bottom: 1px solid #000;
}
#header.notmain .center .sub_menu_board {
  background-color: #000;
}
#header.notmain .center .gnb > li:hover > a {
  color: #ff8a28;
}
#header.notmain .center .gnb > li > a {
  color: #000;
}
#header.notmain .center .gnb > li .sub_menu li a {
  color: #fff;
}
#header.notmain .center .right > a {
  color: #000;
  font-weight: 500;
  transition: all 0.3s;
}
#header.notmain .center .right > a:hover {
  background-color: #ff8a28;
  color: #fff;
}
#header.notmain .center .right .sns li a i {
  color: #000;
}
#header.notmain .center .right .sns li a i:hover {
  background-color: #000;
  color: #fff;
}
#header.notmain .center .mobile_menu .bar {
  background-color: #000;
}

#container .slide_wrap .slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#container .slide_wrap .slide .view {
  width: 100%;
  height: 850px;
  display: flex;
}
#container .slide_wrap .slide .view .slide_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transition: all 0.8s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
#container .slide_wrap .slide .view .slide_box:nth-child(1) {
  background-image: url("/img/slide1.jpg");
  opacity: 1;
  z-index: 3;
}
#container .slide_wrap .slide .view .slide_box:nth-child(1) .text_box {
  right: 14%;
  top: 20%;
}
#container .slide_wrap .slide .view .slide_box:nth-child(2) {
  background-image: url("/img/slide2.jpg");
}
#container .slide_wrap .slide .view .slide_box:nth-child(2) .text_box {
  left: 50%;
  top: 45px;
  transform: translateX(-50%);
}
#container .slide_wrap .slide .view .slide_box:nth-child(3) {
  background-image: url("/img/slide3-1.jpg");
  background-position: center;
}
#container .slide_wrap .slide .view .slide_box:nth-child(3) .text_box {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  line-height: 87px;
}
#container .slide_wrap .slide .view .slide_box .text_box {
  position: absolute;
  font-size: 58px;
  line-height: 70px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}
#container .slide_wrap .slide .mouse_icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 5;
}
#container .slide_wrap .slide .mouse_icon .mouse_wrap .mouse {
  position: relative;
  margin: 0 auto 5px;
  width: 28px;
  height: 50px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.8);
}
#container .slide_wrap .slide .mouse_icon .mouse_wrap .mouse .mouse_wheel {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  width: 9px;
  height: 10px;
  transition: all 0.5s;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
#container .slide_wrap .slide .mouse_icon .mouse_wrap .mouse .mouse_wheel.top {
  height: 23px;
  top: 5px;
  bottom: unset;
}
#container .slide_wrap .slide .mouse_icon .mouse_wrap .mouse .mouse_wheel.bot {
  height: 10px;
  top: unset;
  bottom: 23px;
  opacity: 0;
}
#container .slide_wrap .slide .mouse_icon .text {
  margin-bottom: 12px;
}
#container .slide_wrap .slide .mouse_icon .scroll_bar {
  margin: 0 auto;
  width: 1px;
  height: 40px;
  background-color: #000;
}
#container .slide_wrap .slide .slide_btn_set {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
#container .slide_wrap .slide .slide_btn_set .slide_btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  margin-bottom: 10px;
  cursor: pointer;
}
#container .slide_wrap .slide .slide_btn_set .slide_btn:last-child {
  margin-bottom: 0;
}
#container .slide_wrap .slide .slide_btn_set .slide_btn.on {
  background-color: #fff;
}
#container .menu_tab {
  display: flex;
  justify-content: center;
}
#container .menu_tab .center {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
}
#container .menu_tab .center > div {
  width: 50%;
}
#container .menu_tab .center .menu_box {
  position: absolute;
  left: 4.5%;
  top: 95px;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.8);
  width: 12%;
  padding: 2%;
  border-radius: 20px;
}
#container .menu_tab .center .menu_box .title {
  font-size: 60px;
  padding-bottom: 60px;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  color: #fff;
}
#container .menu_tab .center .menu_box .menus li {
  margin-bottom: 34px;
}
#container .menu_tab .center .menu_box .menus li a {
  color: #fff;
  font-size: 23px;
  transition: all 0.1s;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}
#container .menu_tab .center .menu_box .menus li a.on {
  border-bottom: 2px solid #fff;
}
#container .menu_tab .center .center_img_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 22%;
  height: 500px;
  z-index: 97;
}
#container .menu_tab .center .center_img_wrap .center_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  display: none;
  border-radius: 20px;
}
#container .menu_tab .center .center_img_wrap .center_img.on {
  display: block;
}
#container .menu_tab .center .left {
  position: relative;
  background-image: url(/img/left_bg.jpg);
}
#container .menu_tab .center .left .left_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 95;
  transform: translateX(100%);
  transition: all 0.5s;
}
#container .menu_tab .center .left .left_img.on {
  transform: translate(0);
}
#container .menu_tab .center .right {
  position: relative;
  z-index: 96;
  background-color: #fff;
}
#container .menu_tab .center .right .right_box {
  display: none;
  padding: 107px 60px 0 240px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}
#container .menu_tab .center .right .right_box .menu_img_wrap {
  display: flex;
}
#container .menu_tab .center .right .right_box .menu_img_wrap .menu_img {
  width: 31%;
  height: 190px;
  margin: 0 2% 130px 0;
}
#container .menu_tab .center .right .right_box .menu_img_wrap .menu_img.covernat {
  width: 40%;
}
#container .menu_tab .center .right .right_box .menu_title {
  font-size: 25px;
  margin-bottom: 37px;
  color: #ff8a28;
}
#container .menu_tab .center .right .right_box .text {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 80px;
  font-weight: 500;
}
#container .menu_tab .center .right .right_box .right_bot .bot_title {
  font-size: 22px;
  padding-bottom: 13px;
  border-bottom: 2px solid #ff8a28;
  margin-bottom: 30px;
  font-weight: 600;
  color: #ff8a28;
}
#container .menu_tab .center .right .right_box .right_bot .bot_box_wrap {
  display: flex;
}
#container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box {
  width: 16%;
  text-align: center;
  margin-right: 12px;
}
#container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box .menu_bot_img {
  display: block;
  margin: 0 auto 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box .text {
  font-size: 16px;
}
#container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box.covernat {
  width: 23%;
}
#container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box.yale {
  width: 19%;
}
#container .menu_tab .center .right .right_box.on {
  display: block;
}
#container .inner .inner_top {
  padding: 120px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  font-size: 50px;
  word-spacing: -9px;
}
#container .inner .inner_top .mg {
  margin-right: 10px;
}
#container .inner .inner_top span.ani_start {
  position: relative;
  animation-name: text_wave;
  animation-duration: 0.7s;
}
#container .inner .inner_top span.ani_start:nth-child(2) {
  animation-delay: 0.1s;
}
#container .inner .inner_top span.ani_start:nth-child(3) {
  animation-delay: 0.2s;
}
#container .inner .inner_top span.ani_start:nth-child(4) {
  animation-delay: 0.3s;
}
#container .inner .inner_top span.ani_start:nth-child(5) {
  animation-delay: 0.4s;
}
#container .inner .inner_top span.ani_start:nth-child(6) {
  animation-delay: 0.5s;
}
#container .inner .inner_top span.ani_start:nth-child(7) {
  animation-delay: 0.6s;
}
#container .inner .inner_top span.ani_start:nth-child(8) {
  animation-delay: 0.7s;
}
#container .inner .inner_top span.ani_start:nth-child(9) {
  animation-delay: 0.8s;
}
#container .inner .inner_top span.ani_start:nth-child(10) {
  animation-delay: 0.9s;
}
#container .inner .inner_top span.ani_start:nth-child(11) {
  animation-delay: 1s;
}
@keyframes text_wave {
  0% {
    top: 0;
  }
  35% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
#container .inner .inner_mid {
  width: 100%;
}
#container .inner .inner_mid img {
  width: 100%;
  height: 740px;
}
#container .inner .inner_bot {
  padding: 40px 0;
  background-color: coral;
}
#container .count {
  display: flex;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
#container .count > div {
  width: 50%;
}
#container .count .left {
  padding-left: 155px;
  box-sizing: border-box;
}
#container .count .left .title {
  padding: 200px 0 50px;
  font-size: 60px;
  line-height: 78px;
}
#container .count .left .text {
  font-size: 19px;
  line-height: 28px;
  padding-bottom: 135px;
}
#container .count .left .count_wrap {
  padding: 40px 80px;
  box-sizing: border-box;
  border: 1px solid #fff;
  margin-bottom: 50px;
  border-radius: 20px;
}
#container .count .left .count_wrap .count_title {
  font-size: 20px;
  padding-bottom: 40px;
}
#container .count .left .count_wrap .count_box {
  font-size: 20px;
  display: flex;
}
#container .count .left .count_wrap .count_box > span {
  position: relative;
  top: 8px;
  margin: 0 20px;
  font-size: 50px;
}
#container .count .left .count_wrap .count_box .count_view .count_num {
  font-size: 60px;
  margin-bottom: 23px;
  font-weight: 500;
}
#container .count .left .count_wrap .count_box .count_view .count_text {
  text-align: center;
}
#container .count .left .more {
  display: block;
  background-color: #ff8a28;
  width: 195px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  font-size: 17px;
  margin-bottom: 195px;
  transition: all 0.5s;
}
#container .count .left .more:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}
#container .count .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
#container .count .right .big_circle_line {
  position: absolute;
  top: 15%;
  right: -40%;
  width: 850px;
  height: 850px;
  border: 2px dashed #ff8a28;
  box-sizing: border-box;
  border-radius: 50%;
  animation-name: big_circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes big_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#container .count .right .small_circle_line {
  position: absolute;
  top: 15%;
  right: -40%;
  width: 850px;
  height: 850px;
  box-sizing: border-box;
  border-radius: 50%;
  animation-name: smaill_circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes smaill_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#container .count .right .small_circle_line .small_circle {
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff8a28;
}
#container .count .right .big_img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-right: 150px;
  z-index: 95;
}
#container .count .right .small_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  top: 110px;
}
#container .notice {
  display: flex;
  justify-content: center;
}
#container .notice .center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000;
}
#container .notice .center > .left {
  width: 40%;
  border-right: 1px solid #cbcbcb;
}
#container .notice .center > .left .title {
  text-transform: uppercase;
  font-size: 80px;
  padding: 80px 50px;
}
#container .notice .center > .left .title .text:nth-child(2) {
  padding-left: 122px;
}
#container .notice .center .right {
  width: 60%;
}
#container .notice .center .right .notice_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #cbcbcb;
}
#container .notice .center .right .notice_box:last-child {
  border: none;
}
#container .notice .center .right .notice_box:hover .hover_img {
  opacity: 1;
}
#container .notice .center .right .notice_box .left {
  padding: 90px 55px;
  width: 60%;
}
#container .notice .center .right .notice_box .left .event {
  padding-bottom: 15px;
  color: #ff8a28;
}
#container .notice .center .right .notice_box .left .notice_title a {
  display: block;
  padding-bottom: 25px;
  color: #000;
}
#container .notice .center .right .notice_box .left .event_date {
  color: #959595;
}
#container .notice .center .right .notice_box .right {
  text-align: right;
  width: 40%;
}
#container .notice .center .right .notice_box .right a {
  color: #000;
}
#container .notice .center .right .notice_box .right a i {
  font-size: 25px;
  padding-right: 50px;
}
#container .notice .center .right .notice_box .hover_img {
  position: absolute;
  left: 57%;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
  height: 230px;
  transition: all 0.5s;
  opacity: 0;
}
#container .notice .center .right .notice_box .hover_img img {
  width: 100%;
  height: 100%;
}
#container .rolling {
  background-color: #000;
  padding-bottom: 210px;
}
#container .rolling .title {
  color: #fff;
  padding: 100px 50px 145px 50px;
  font-size: 73px;
}
#container .rolling .rolling_wrap {
  width: 100%;
  overflow: hidden;
}
#container .rolling .rolling_wrap .rolling_img_box {
  width: 400%;
  display: flex;
  animation: move 20s linear infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#container .rolling .rolling_wrap .rolling_img_box .img_wrap, #container .rolling .rolling_wrap .rolling_img_box .clone {
  width: 12.5%;
  margin: 0 0.3%;
  box-sizing: border-box;
  position: relative;
}
#container .rolling .rolling_wrap .rolling_img_box .img_wrap .rolling_img, #container .rolling .rolling_wrap .rolling_img_box .clone .rolling_img {
  width: 100%;
}
#container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}
#container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a {
  color: #fff;
  display: block;
  width: 100%;
}
#container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .comp_name, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .comp_name {
  font-size: 22px;
  margin-bottom: 30px;
}
#container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .clothes_name, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .clothes_name {
  font-size: 23px;
  line-height: 38px;
  margin-bottom: 30px;
}
#container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .fa-regular, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .fa-regular {
  font-size: 50px;
}
#container .rolling .rolling_wrap .rolling_img_box .img_wrap:hover .hover_bg, #container .rolling .rolling_wrap .rolling_img_box .clone:hover .hover_bg {
  opacity: 1;
}
#container .rolling .rolling_wrap .rolling_img_box:hover {
  animation-play-state: paused;
}
#container .carousel {
  padding-bottom: 120px;
}
#container .carousel .title {
  padding: 100px 50px 145px 115px;
  font-size: 60px;
}
#container .carousel .center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#container .carousel .center .carousel_wrap {
  width: 90%;
  overflow: hidden;
  position: relative;
}
#container .carousel .center .carousel_wrap .carousel_box {
  width: 200%;
  display: flex;
}
#container .carousel .center .carousel_wrap .carousel_box .carousel_img {
  width: 12.5%;
  box-sizing: border-box;
  padding: 0 0.7%;
}
#container .carousel .center .carousel_wrap .carousel_box .carousel_img img {
  width: 100%;
}
#container .carousel .center .carousel_wrap .carousel_box .carousel_img .info_text a {
  color: #000;
  display: block;
  padding-top: 10px;
  line-height: 22px;
  font-weight: 500;
}
#container .carousel .center .carousel_wrap .carousel_btn_set > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}
#container .carousel .center .carousel_wrap .carousel_btn_set > div i {
  position: relative;
  top: 3px;
  font-size: 25px;
}
#container .carousel .center .carousel_wrap .carousel_btn_set .prev_btn {
  left: 0;
}
#container .carousel .center .carousel_wrap .carousel_btn_set .next_btn {
  right: 0;
}
#container .brand_story_wrap .bs_wrap {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #000;
  border-top: 1px solid #fff;
}
#container .brand_story_wrap .bs_wrap > div {
  width: 50%;
}
#container .brand_story_wrap .bs_wrap .left img {
  width: 85%;
  height: 896px;
}
#container .brand_story_wrap .bs_wrap .right .inner_left .brand_text {
  font-size: 26px;
  padding-bottom: 10px;
}
#container .brand_story_wrap .bs_wrap .right .inner_left .title {
  font-size: 32px;
  padding-bottom: 50px;
}
#container .brand_story_wrap .bs_wrap .right .inner_right .context {
  font-size: 17px;
  line-height: 28px;
}
#container .brand_story_wrap .bs_wrap .right .inner_right .context .text1, #container .brand_story_wrap .bs_wrap .right .inner_right .context .text2, #container .brand_story_wrap .bs_wrap .right .inner_right .context .text3 {
  padding-bottom: 43px;
}
#container .brand_story_wrap .bs2 {
  border-top: none;
}
#container .brand_story_wrap .brand_video {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 150px 0 250px;
}
#container .brand_story_wrap .brand_video video {
  width: 68%;
}
#container .clothes_menu_wrap {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-bottom: 100px;
}
#container .clothes_menu_wrap .center {
  width: 67%;
}
#container .clothes_menu_wrap .center .title {
  padding: 110px 0 70px;
  font-size: 50px;
  color: #fff;
}
#container .clothes_menu_wrap .center .menu_list {
  display: flex;
  justify-content: center;
}
#container .clothes_menu_wrap .center .menu_list li {
  margin: 0 4% 100px;
  font-size: 24px;
  position: relative;
}
#container .clothes_menu_wrap .center .menu_list li::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #7a7a7a;
  position: absolute;
  left: 0;
  top: -13px;
}
#container .clothes_menu_wrap .center .menu_list li a {
  color: #7a7a7a;
  transition: all 0.2s;
}
#container .clothes_menu_wrap .center .menu_list li.on::before {
  background-color: #ff8a28;
}
#container .clothes_menu_wrap .center .menu_list li.on a {
  color: #ff8a28;
}
#container .clothes_menu_wrap .center .list_wrap {
  display: flex;
  flex-wrap: wrap;
}
#container .clothes_menu_wrap .center .list_wrap .list_box {
  width: 21%;
  margin: 2%;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a {
  color: #fff;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .img_wrap {
  width: 100%;
  height: 320px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .img_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box {
  padding: 12px;
  box-sizing: border-box;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .comp {
  padding: 2px 0 10px;
  font-size: 15px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .name {
  margin-bottom: 15px;
  line-height: 21px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap {
  display: flex;
  justify-content: space-between;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap .left {
  display: flex;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap .left .sale_price {
  margin-right: 12px;
  font-size: 21px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap .left .sale_price span {
  padding-left: 1px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap .left .price {
  position: relative;
  top: 4px;
  color: gray;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap .left .price::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 9px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap .left .price span {
  padding-left: 1px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap .right .percent {
  color: #ff8a28;
  position: relative;
  top: 4px;
}
#container .clothes_menu_wrap .center .list_wrap .list_box > a .text_box .price_wrap .right .percent span {
  padding-left: 1px;
}
#container .clothes_menu_wrap .center .page_list {
  color: #fff;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
#container .clothes_menu_wrap .center .page_list li {
  margin: 0 17px;
}
#container .clothes_menu_wrap .center .page_list li a {
  color: #fff;
}
#container .clothes_menu_wrap .center .page_list li.on a {
  color: #ff8a28;
}
#container .life {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  background-color: #000;
}
#container .life .center {
  width: 80%;
}
#container .life .center > .title {
  padding: 110px 0 70px;
  font-size: 50px;
  color: #fff;
}
#container .life .center .life_wrap {
  display: flex;
  flex-wrap: wrap;
}
#container .life .center .life_wrap .life_box {
  width: 22%;
  margin: 0 1%;
  margin-bottom: 50px;
}
#container .life .center .life_wrap .life_box a {
  color: #fff;
}
#container .life .center .life_wrap .life_box a .life_img {
  width: 100%;
  border-radius: 25px;
}
#container .life .center .life_wrap .life_box a .title {
  padding-top: 15px;
  font-size: 21px;
  line-height: 25px;
}
#container .life .center .life_wrap .life_box a .date {
  padding-top: 20px;
  color: #b3b3b3;
  font-size: 14px;
}
#container .store_map_wrap {
  display: flex;
  justify-content: center;
}
#container .store_map_wrap .center {
  width: 67%;
  margin-bottom: 300px;
}
#container .store_map_wrap .center::-webkit-scrollbar {
  opacity: 0;
}
#container .store_map_wrap .center::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  border: 5px solid #fff;
}
#container .store_map_wrap .center::-webkit-scrollbar-track {
  background-color: transparent;
}
#container .store_map_wrap .center .title {
  padding: 110px 0 70px;
  font-size: 50px;
}
#container .store_map_wrap .center .store_search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
#container .store_map_wrap .center .store_search > div {
  width: 50%;
}
#container .store_map_wrap .center .store_search .left .map_img {
  width: 100%;
  height: 800px;
}
#container .store_map_wrap .center .store_search .right {
  padding-left: 50px;
}
#container .store_map_wrap .center .store_search .right .store_addr_search_wrap, #container .store_map_wrap .center .store_search .right .store_name_search_wrap {
  font-size: 20px;
}
#container .store_map_wrap .center .store_search .right .store_addr_search_wrap > p, #container .store_map_wrap .center .store_search .right .store_name_search_wrap > p {
  padding-bottom: 20px;
  font-weight: 500;
}
#container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_addr_search > select, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_name_search > select, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_addr_search > select, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_name_search > select {
  width: 140px;
  height: 35px;
  border-radius: 10px;
  padding-left: 5px;
  margin-bottom: 50px;
  border: 2px solid #ff8a28;
}
#container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_addr_search > select:first-child, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_name_search > select:first-child, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_addr_search > select:first-child, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_name_search > select:first-child {
  margin-right: 8px;
}
#container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_addr_search > input, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_name_search > input, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_addr_search > input, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_name_search > input {
  width: 288px;
  height: 35px;
  border-radius: 10px;
  padding-left: 5px;
  border: 2px solid #ff8a28;
}
#container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_addr_search #addr_search_btn, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_addr_search #name_search_btn, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_name_search #addr_search_btn, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_name_search #name_search_btn, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_addr_search #addr_search_btn, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_addr_search #name_search_btn, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_name_search #addr_search_btn, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_name_search #name_search_btn {
  width: 35px;
  line-height: 35px;
  background-color: #ff8a28;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}
#container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_addr_search #addr_search_btn > i, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_addr_search #name_search_btn > i, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_name_search #addr_search_btn > i, #container .store_map_wrap .center .store_search .right .store_addr_search_wrap #store_name_search #name_search_btn > i, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_addr_search #addr_search_btn > i, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_addr_search #name_search_btn > i, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_name_search #addr_search_btn > i, #container .store_map_wrap .center .store_search .right .store_name_search_wrap #store_name_search #name_search_btn > i {
  position: relative;
  top: 3px;
  font-size: 21px;
}
#container .store_map_wrap .center .store_map_list {
  margin-bottom: 3px;
}
#container .store_map_wrap .center .store_map_list h3 {
  padding-bottom: 40px;
  font-size: 33px;
  color: #000;
}
#container .store_map_wrap .center .store_map_list .h_line {
  display: flex;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  font-weight: 500;
  font-size: 17px;
  color: #121212;
}
#container .store_map_wrap .center .store_map_list .line {
  display: flex;
  border-bottom: 1px solid #cbcbcb;
  color: #121212;
}
#container .store_map_wrap .center .store_map_list .h_line, #container .store_map_wrap .center .store_map_list .line {
  line-height: 55px;
  text-align: center;
}
#container .store_map_wrap .center .store_map_list .h_line .name, #container .store_map_wrap .center .store_map_list .line .name {
  width: 20%;
}
#container .store_map_wrap .center .store_map_list .h_line .addr, #container .store_map_wrap .center .store_map_list .line .addr {
  width: 50%;
}
#container .store_map_wrap .center .store_map_list .h_line .tell, #container .store_map_wrap .center .store_map_list .line .tell {
  width: 30%;
}

#admin_prd_page .prd_list_wrap {
  display: flex;
  flex-wrap: wrap;
}
#admin_prd_page .prd_list_wrap .prd_box {
  width: 17%;
  margin: 1%;
  border: 1px solid orangered;
}
#admin_prd_page .prd_list_wrap .prd_box img {
  width: 100%;
  height: 300px;
}
#admin_prd_page > form {
  margin: 50px 0;
}

#admin_store_page .store_list_wrap {
  border: 1px solid red;
  margin-bottom: 50px;
}
#admin_store_page .store_list_wrap .store_list {
  border: 1px solid olivedrab;
  margin-bottom: 10px;
}
#admin_store_page .store_list_wrap .store_list:last-child {
  margin-bottom: 0;
}
#admin_store_page #store_form input {
  display: block;
  margin-bottom: 30px;
}
#admin_store_page #store_form #sample6_detailAddress, #admin_store_page #store_form #sample6_extraAddress {
  display: none;
}

#admin_life_wrap .life_wrap {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
#admin_life_wrap .life_wrap .box {
  border: 1px solid #000;
  margin-bottom: 20px;
  width: 23%;
  margin: 0 1%;
}
#admin_life_wrap .life_wrap .box img {
  width: 100%;
  height: 250px;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
#footer .center {
  text-align: center;
}
#footer .center .f_logo {
  padding: 80px 0 40px;
}
#footer .center .f_logo img {
  width: 150px;
  height: 30px;
}
#footer .center .f_sns {
  display: flex;
  justify-content: center;
}
#footer .center .f_sns li {
  margin: 0 10px 30px;
  font-size: 27px;
}
#footer .center .f_sns li a {
  color: #fff;
}
#footer .center .f_sns li a i {
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
}
#footer .center .f_sns li a i:hover {
  background-color: #fff;
  color: #000;
}
#footer .center > a {
  display: block;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}
#footer .center .info {
  text-align: center;
}
#footer .center .info .wrap p {
  display: inline;
}
#footer .center .info .wrap .wrap_930 {
  display: inline;
}
#footer .center .info .wrap:first-child {
  margin-bottom: 5px;
}
#footer .center .info .bar::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #fff;
  position: relative;
  left: 3px;
  top: 1px;
  margin: 0 6px;
}
#footer .center .copy {
  padding: 20px 0 75px;
}

#footer.white_ver {
  background-color: #fff;
  color: #000;
  border-top: 1px solid #000;
}
#footer.white_ver .center {
  text-align: center;
}
#footer.white_ver .center .f_sns li a {
  color: #000;
}
#footer.white_ver .center .f_sns li a i:hover {
  background-color: #000;
  color: #fff;
}
#footer.white_ver .center > a {
  color: #000;
}
#footer.white_ver .center .info .bar::after {
  background-color: #000;
  color: #fff;
}

#go_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  z-index: 99;
  cursor: pointer;
}
#go_top i {
  position: relative;
  top: 5px;
  font-size: 28px;
  color: #000;
}

@media screen and (max-width: 1620px) {
  #header .center {
    width: 93%;
  }
  #header .center .logo a img {
    width: 150px;
    height: 30px;
    position: relative;
    bottom: 4px;
  }
  #header .center .gnb_wrap .gnb {
    margin-left: 0;
  }
  #header .center .gnb_wrap .gnb > li {
    line-height: 100px;
  }
  #header .center .gnb_wrap .gnb > li > a {
    width: 160px;
  }
}
@media screen and (max-width: 1200px) {
  #header .center {
    width: 93%;
  }
  #header .center .logo a img {
    width: 150px;
    height: 30px;
    position: relative;
    bottom: 4px;
  }
  #header .center .gnb_wrap .gnb > li {
    line-height: 100px;
  }
  #header .center .gnb_wrap .gnb > li > a {
    width: 100px;
  }
  #container .slide_wrap .slide .view {
    height: 650px;
  }
  #container .slide_wrap .slide .view .slide_box .text_box {
    font-size: 42px;
    line-height: 50px;
  }
  #container .slide_wrap .slide .view .slide_box:nth-child(1) .text_box {
    right: 9%;
    top: 20%;
  }
  #container .slide_wrap .slide .view .slide_box:nth-child(2) .text_box {
    top: 30px;
  }
  #container .slide_wrap .slide .view .slide_box:nth-child(3) .text_box {
    font-size: 70px;
    line-height: 77px;
  }
  #container .menu_tab .center {
    height: 850px;
  }
  #container .menu_tab .center .menu_box {
    width: 18%;
    left: 3%;
    top: 55px;
  }
  #container .menu_tab .center .menu_box .title {
    font-size: 50px;
    padding-bottom: 50px;
  }
  #container .menu_tab .center .center_img_wrap {
    height: 350px;
  }
  #container .menu_tab .center .center_img_wrap .center_img.on {
    display: block;
  }
  #container .menu_tab .center .right .right_box {
    padding: 107px 5px 0 145px;
  }
  #container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box {
    width: 20%;
  }
  #container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box .text {
    font-size: 15px;
  }
  #container .inner .inner_top {
    font-size: 43px;
  }
  #container .inner .inner_mid {
    width: 100%;
  }
  #container .inner .inner_mid img {
    width: 100%;
    height: 650px;
  }
  #container .count .left {
    padding-left: 40px;
  }
  #container .count .left .title {
    font-size: 55px;
    line-height: 70px;
  }
  #container .count .left .text {
    font-size: 18px;
  }
  #container .count .left .count_wrap {
    padding: 40px 50px;
    border: 2px solid #fff;
  }
  #container .count .right .big_circle_line {
    right: -97%;
    width: 850px;
    height: 850px;
  }
  #container .count .right .small_circle_line {
    right: -97%;
    width: 850px;
    height: 850px;
  }
  #container .count .right .big_img {
    width: 350px;
    height: 350px;
    margin-right: 70px;
  }
  #container .count .right .small_img {
    width: 100px;
    height: 100px;
    top: 185px;
  }
  #container .rolling .rolling_wrap .rolling_img_box {
    width: 533.333%;
  }
  #container .carousel .title {
    padding: 100px 50px 145px 85px;
  }
  #container .carousel .center .carousel_wrap .carousel_box {
    width: 266.666%;
  }
  #container .clothes_menu_wrap .center {
    width: 95%;
  }
  #container .clothes_menu_wrap .center .title {
    padding-left: 15px;
  }
  #container .clothes_menu_wrap .center .list_wrap .list_box {
    width: 29%;
  }
  #container .life .center {
    width: 95%;
  }
  #container .life .center .life_wrap .life_box {
    width: 31%;
    margin: 2% 1%;
  }
}
@media screen and (max-width: 1024px) {
  #header .center .logo {
    line-height: 100px;
  }
  #header .center .logo a img {
    width: 150px;
    height: 30px;
    position: relative;
    bottom: 4px;
  }
  #header .center .gnb_wrap .gnb {
    display: none;
  }
  #header .center .right {
    display: none;
  }
  #header .center .mobile_menu {
    display: block;
  }
  #container .slide_wrap .slide .view .slide_box .text_box {
    font-size: 38px;
  }
  #container .menu_tab .center {
    height: 850px;
    flex-wrap: wrap;
  }
  #container .menu_tab .center > div {
    width: 100%;
  }
  #container .menu_tab .center .menu_box {
    width: 18%;
    left: 3%;
    top: 55px;
  }
  #container .menu_tab .center .menu_box .title {
    font-size: 50px;
    padding-bottom: 50px;
  }
  #container .menu_tab .center .center_img_wrap {
    display: none;
  }
  #container .menu_tab .center .left {
    height: 510px;
  }
  #container .menu_tab .center .right {
    height: 750px;
  }
  #container .menu_tab .center .right .right_box {
    width: 100%;
    padding: 20px;
  }
  #container .menu_tab .center .right .right_box .menu_title {
    padding-left: 20px;
  }
  #container .menu_tab .center .right .right_box .text {
    padding-left: 20px;
  }
  #container .menu_tab .center .right .right_box .menu_img_wrap .menu_img {
    margin: 0 2% 130px;
    height: 270px;
  }
  #container .menu_tab .center .right .right_box .right_bot .bot_box_wrap {
    justify-content: center;
  }
  #container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box {
    width: 20%;
  }
  #container .menu_tab .center .right .right_box .right_bot .bot_box_wrap .bot_box .text {
    font-size: 15px;
    padding-left: 0;
  }
  #container .inner {
    margin-top: 570px;
  }
  #container .inner .inner_mid img {
    height: 500px;
  }
  #container .count .left {
    width: 90%;
    margin: 0 auto;
  }
  #container .count .left .count_wrap {
    padding: 40px 100px;
  }
  #container .count .left .count_wrap .count_box .count_view .count_num {
    font-size: 80px;
  }
  #container .count .right {
    display: none;
  }
  #container .notice .center > .left .title {
    font-size: 65px;
    padding: 40px 45px;
  }
  #container .notice .center > .left .title .text:nth-child(2) {
    padding-left: 106px;
  }
  #container .notice .center .right .notice_box .left {
    padding: 50px 55px;
  }
  #container .notice .center .right .notice_box .left .notice_title a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  #container .notice .center .right .notice_box .hover_img {
    display: none;
  }
  #container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a {
    margin-top: 50px;
  }
  #container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .comp_name, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .comp_name {
    font-size: 22px;
    margin-bottom: 30px;
  }
  #container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .clothes_name, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .clothes_name {
    font-size: 23px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  #container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .fa-regular, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .fa-regular {
    font-size: 50px;
  }
  #container .carousel .title {
    padding: 100px 50px 125px 55px;
  }
  #container .carousel .center .carousel_wrap .carousel_box {
    width: 400%;
  }
}
@media screen and (max-width: 930px) {
  #container .menu_tab .center .menu_box {
    width: 30%;
  }
  #container .menu_tab .center .right .right_box .menu_img_wrap .menu_img {
    margin: 0 1% 130px 0;
    width: 33%;
  }
  #container .count .left .count_wrap {
    padding: 40px 35px;
  }
  #container .notice .center {
    flex-direction: column;
  }
  #container .notice .center > .left {
    width: 100%;
    border-right: none;
  }
  #container .notice .center > .left .title {
    border-bottom: 1px solid #cbcbcb;
    padding: 60px 45px;
  }
  #container .notice .center > .left .title .text:nth-child(2) {
    padding-left: 0;
  }
  #container .notice .center .right {
    width: 100%;
  }
  #footer .center .info .wrap p {
    display: block;
  }
  #footer .center .info .wrap .addr {
    margin-bottom: 12px;
  }
  #footer .center .info .wrap .load_addr {
    margin-bottom: 12px;
  }
  #footer .center .info .wrap .wrap_930 {
    display: flex;
    justify-content: center;
  }
  #footer .center .info .wrap .wrap_930:first-child {
    margin-bottom: 12px;
  }
  #footer .center .info .addr::after, #footer .center .info .comp_num::after {
    display: none;
  }
}
@media screen and (max-width: 845px) {
  #container .brand_story_wrap .bs_wrap {
    flex-direction: column;
  }
  #container .brand_story_wrap .bs_wrap > div {
    width: 100%;
  }
  #container .brand_story_wrap .bs_wrap .left img {
    width: 100%;
    height: 650px;
  }
  #container .brand_story_wrap .bs_wrap .right {
    display: flex;
    align-items: center;
    padding: 90px 0;
  }
  #container .brand_story_wrap .bs_wrap .right > div {
    width: 50%;
  }
  #container .brand_story_wrap .bs_wrap .right .inner_left {
    padding-left: 30px;
  }
  #container .brand_story_wrap .bs_wrap .right .inner_left .brand_text {
    font-size: 21px;
  }
  #container .brand_story_wrap .bs_wrap .right .inner_left .title {
    font-size: 28px;
  }
  #container .brand_story_wrap .bs_wrap .right .inner_right {
    padding-left: 50px;
  }
  #container .brand_story_wrap .brand_video {
    padding: 50px 0 200px;
  }
  #container .brand_story_wrap .brand_video video {
    width: 85%;
  }
  #container .clothes_menu_wrap .center {
    width: 95%;
  }
  #container .clothes_menu_wrap .center .title {
    padding-left: 0;
    text-align: center;
  }
  #container .clothes_menu_wrap .center .list_wrap .list_box {
    width: 43%;
    margin: 3%;
  }
  #container .life .center .life_wrap .life_box {
    width: 48%;
  }
  #container .store_map_wrap .center {
    width: 90%;
    overflow-x: scroll;
  }
  #container .store_map_wrap .center .store_search .left {
    display: none;
  }
  #container .store_map_wrap .center .store_search .right {
    width: 100%;
    padding-left: 0;
  }
  #container .store_map_wrap .center .store_map_list {
    width: 160%;
  }
}
@media screen and (max-width: 768px) {
  #container .carousel .center .carousel_wrap .carousel_box {
    width: 400%;
  }
}
@media screen and (max-width: 540px) {
  #container .slide_wrap .slide .view .slide_box .text_box {
    font-size: 25px;
    line-height: 35px;
  }
  #container .slide_wrap .slide .view .slide_box:nth-child(1) .text_box {
    right: 5%;
  }
  #container .slide_wrap .slide .view .slide_box:nth-child(2) .text_box {
    top: 55px;
  }
  #container .slide_wrap .slide .view .slide_box:nth-child(3) .text_box {
    font-size: 38px;
    line-height: 48px;
  }
  #container .slide_wrap .slide .slide_btn_set {
    left: 50%;
    top: 18px;
    transform: translateX(-50%);
    display: flex;
  }
  #container .slide_wrap .slide .slide_btn_set .slide_btn {
    margin: 0 5px;
  }
  #container .inner .inner_top {
    padding: 65px 0;
    font-size: 32px;
  }
  #container .inner .inner_mid img {
    height: 400px;
  }
  #container .count .left {
    margin-left: 0;
  }
  #container .count .left .title {
    font-size: 45px;
    line-height: 58px;
    padding: 130px 0 50px;
  }
  #container .count .left .text {
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 100px;
  }
  #container .count .left .count_wrap {
    padding: 40px 35px;
  }
  #container .count .left .count_wrap .count_title {
    font-size: 18px;
    padding-bottom: 35px;
  }
  #container .count .left .count_wrap .count_box {
    font-size: 16px;
  }
  #container .count .left .count_wrap .count_box > span {
    font-size: 26px;
  }
  #container .count .left .count_wrap .count_box .count_view .count_num {
    font-size: 38px;
  }
  #container .rolling .title {
    font-size: 61px;
  }
  #container .rolling .rolling_wrap .rolling_img_box {
    width: 800%;
  }
  #container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a {
    margin-top: 20px;
  }
  #container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .comp_name, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .comp_name {
    font-size: 16px;
    margin-bottom: 25px;
  }
  #container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .clothes_name, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .clothes_name {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  #container .rolling .rolling_wrap .rolling_img_box .img_wrap .hover_bg a .fa-regular, #container .rolling .rolling_wrap .rolling_img_box .clone .hover_bg a .fa-regular {
    font-size: 42px;
  }
  #container .carousel .center .carousel_wrap .carousel_box {
    width: 800%;
  }
  #container .brand_story_wrap .bs_wrap .left img {
    height: 600px;
  }
  #container .brand_story_wrap .bs_wrap .right {
    flex-direction: column;
    text-align: center;
  }
  #container .brand_story_wrap .bs_wrap .right > div {
    width: 100%;
  }
  #container .brand_story_wrap .bs_wrap .right .inner_left {
    padding-left: 0;
  }
  #container .brand_story_wrap .bs_wrap .right .inner_left .brand_text {
    font-size: 21px;
    margin-bottom: 14px;
  }
  #container .brand_story_wrap .bs_wrap .right .inner_left .title {
    font-size: 32px;
  }
  #container .brand_story_wrap .bs_wrap .right .inner_right {
    padding-left: 0;
  }
  #container .brand_story_wrap .brand_video {
    padding: 30px 0 150px;
  }
  #container .brand_story_wrap .brand_video video {
    width: 90%;
  }
  #container .clothes_menu_wrap .center .list_wrap .list_box {
    width: 77%;
    margin: 0 auto 50px;
  }
  #container .life .center .life_wrap .life_box {
    width: 98%;
    margin-bottom: 50px;
  }
  #footer .center .info .bar::after {
    left: 0;
    margin: 0 12px;
  }
}