<div id="footer" class="<%- change %>">
    <div class="center">
        <div class="f_logo"><img src="/img/<%- logo %>" alt="하단영역 로고 이미지입니다."></div>
        <ul class="f_sns">
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        <a href="#">개인정보취급방침</a>
        <div class="info">
            <div class="wrap">
                <p class="addr bar">주소 : 경기도 고양시 일산서구 장항동 장항로</p>
                <p class="load_addr">도로명주소: 경기도 고양시 일산서구 장항동 장항로</p>
            </div>
            <div class="wrap">
                <div class="wrap_930">
                    <p class="ceo_name bar">대표이사 : 허유진</p>
                    <p class="comp_num bar">사업자등록번호 : 123-45-67890</p>
                </div>
                <div class="wrap_930">
                    <p class="tell bar">전화 : 1857-7598</p>
                    <p class="fax">팩스 : 12-7890-4560</p>
                </div>
            </div>
        </div>
        <p class="copy">COPYRIGHT ANYTHING ALL RIGHTS RESERVED.</p>
    </div>
</div>