<div id="header" class="<%- change %>">
    <div class="center">
        <h1 class="logo"><a href="/"><img src="/img/<%- logo %>" alt="로고 이미지입니다."></a></h1>
        <div class="gnb_wrap">
            <!-- 서브메뉴 뒷배경 -->
            <p class="sub_menu_board"></p>
            <ul class="gnb">
                <li>
                    <a href="/brand_story">BRAND</a>
                    <ul class="sub_menu">
                        <li><a href="#">MCN</a></li>
                        <li><a href="#">Phyps</a></li>
                        <li><a href="#">Braun</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/menu/top">SALE</a>
                    <ul class="sub_menu">
                        <li><a href="/menu/top">Top</a></li>
                        <li><a href="/menu/outer">Outer</a></li>
                        <li><a href="/menu/bottom">Bottom</a></li>
                        <li><a href="/menu/shoes">Shoes</a></li>
                        <li><a href="/menu/cap">Cap</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">LIFE</a>
                    <ul class="sub_menu">
                        <li><a href="#">News</a></li>
                        <li><a href="#">Magazine</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/store/map">STORE</a>
                    <ul class="sub_menu">
                        <li><a href="/store/map">Korea</a></li>
                        <li><a href="#">America</a></li>
                        <li><a href="#">Europe</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right">
            <a href="#">창업안내</a>
            <ul class="sns">
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
        <!-- 모바일 메뉴 -->
        <div class="mobile_menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="mobile_board">
            <div class="close_btn">
                <div class="wrap">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="mobile_gnb">
                <li>
                    <a href="#">BRAND<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="mobile_sub_menu">
                        <li><a href="/brand_story">MCN</a></li>
                        <li><a href="/brand_story">Phyps</a></li>
                        <li><a href="/brand_story">Braun</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">SALE<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="mobile_sub_menu">
                        <li><a href="/menu/top">Top</a></li>
                        <li><a href="/menu/outer">Outer</a></li>
                        <li><a href="/menu/bottom">Bottom</a></li>
                        <li><a href="/menu/shoes">Shoes</a></li>
                        <li><a href="/menu/cap">Cap</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">LIFE<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="mobile_sub_menu">
                        <li><a href="#">News</a></li>
                        <li><a href="#">Magazine</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">STORE<i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="mobile_sub_menu">
                        <li><a href="/store/map">Korea</a></li>
                        <li><a href="#">America</a></li>
                        <li><a href="#">Europe</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="sns">
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
            <a href="#">창업안내</a>
        </div>
    </div>
</div>
<!-- js -->
<script src="/js/gnb_dropdown.js"></script>
<script src="/js/mobile_menu.js"></script>
<script src="/js/mobile_menu_dropdown.js"></script>