<div id="header">
    <div class="center">
        <h1 class="logo"><a href="/"><!--<img src="" alt="로고 이미지입니다.">-->로고</a></h1>
        <!-- 서브메뉴 뒷배경 -->
        <p class="sub_menu_board"></p>
        <ul class="gnb">
            <li>
                <a href="#">depth1-1</a>
                <ul class="sub_menu">
                    <li><a href="#">depth2-1</a></li>
                    <li><a href="#">depth2-2</a></li>
                    <li><a href="#">depth2-3</a></li>
                </ul>
            </li>
            <li>
                <a href="/menu/top">품목</a>
                <ul class="sub_menu">
                    <li><a href="#">depth2-1</a></li>
                    <li><a href="#">depth2-2</a></li>
                    <li><a href="#">depth2-3</a></li>
                    <li><a href="#">depth2-3</a></li>
                    <li><a href="#">depth2-3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">depth3</a>
                <ul class="sub_menu">
                    <li><a href="#">depth3-1</a></li>
                    <li><a href="#">depth3-2</a></li>
                </ul>
            </li>
            <li>
                <a href="#">depth4</a>
                <ul class="sub_menu">
                    <li><a href="#">depth4-1</a></li>
                    <li><a href="#">depth4-2</a></li>
                    <li><a href="#">depth4-3</a></li>
                </ul>
            </li>
        </ul>
        <!-- 나중에 클래스 달고 이름 바꿔주기 -->
        <div class="right">
            <a href="#">창업안내</a>
            <ul class="sns">
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
            </ul>
            <!-- 모바일 메뉴 -->
            <div class="mobile_menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script src="/js/gnb_dropdown.js"></script>